
{% assign is_finalist = false %}
{% for finalist in site.finalists %}
  {% if finalist == data.url %}
    {% assign is_finalist = true %}
  {% endif %}
{% endfor %}

{% assign is_winner = false %}
{% for winner in site.data.winners %}
  {% for challenge_url in data.aggregated.challenge_url %}
    {% assign secure_challenge_url = challenge_url | replace: "http://", "https://" %}
    {% if winner.url contains secure_challenge_url or secure_challenge_url contains winner.url %}
      {% assign is_winner = true %}
      {% assign winner_year = winner.year %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if page.is_search_results %}{% unless page.tag %}<script type="text/template" data-year="{{ data.aggregated.year_submitted | join: ',' }}" data-tags="{{ data['tags_indicators'] | join: ',' }}" {% if is_winner %} data-winner="data-winner" {% elsif is_finalist %} data-finalist="data-finalist" {% endif %}>{% endunless %}{% endif %}

{% comment %}
{% assign categories = "learn, create, play, connect, live" | split: ", " %}
{% assign data_category = "" %}
{% for tag in data.tags_indicators %}
  {% for category in categories %}
    {% for parentTag in site.data.tags_categories[category] %}
      {% if tag == parentTag %}
        {% assign data_category = category %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% endcomment %}

<li data-project-titles="{{ data['project_titles'] | join: "," }}">
  <a href="{{ data.url }}">
    <span class="image">

      {% if data['cached_project_image'] and data['project_image'] contains "http://" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% else %}
      <img src="{{ data['project_image'] }}" alt="" width="540" height="428" />
      {% endif %}

      {% comment %}
      <span style="background-image: url({{ data['project_image'] }})"></span>
      {% endcomment %}
    </span>
    <h3>{{ data['title'] }}</h3>
    <p class="description">{{ data['org_summary'] | strip_html | truncate: 250 }}</p>
    <p class="description" style="margin-top: 0.375rem;">
      <small {% if is_winner or is_finalist %} style="color: var(--primary-color); font-weight: 600;" {% else %} style="color: rgba(0, 0, 0, 0.5)" {% endif %}>
        {% if is_winner %}{{ winner_year }}{% elsif is_finalist %}2018{% else %}{{ data.aggregated['year_submitted'][0] }}{% endif %}{% if data.zip and data.zip != "" and data.zip != "0" and false %}, 
          {{ data.zip }}
        {% endif %}{% if is_winner %} Winner{% elsif is_finalist %} Finalist{% endif %}
      </small>
    </p>
    {% comment %}
    <p class="description" style="margin-top: 0.375rem;">
      {% assign delimiter = "" %}
      {% if is_winner %}<small style="color: var(--primary-color); font-weight: 600;">Winner</small>{% assign delimiter = ", " %}{% elsif is_finalist %}<small style="color: var(--primary-color); font-weight: 600;">Finalist</small>{% assign delimiter = ", " %}{% endif %}<small style="color: rgba(0, 0, 0, 0.25)">{% for year_submitted in data.aggregated.year_submitted %}{{ delimiter }}{{ year_submitted }}{% assign delimiter = ", " %}{% endfor %}</small>
    </p>
    {% endcomment %}
  </a>
</li>

{% if page.is_search_results %}{% unless page.tag %}</script>{% endunless %}{% endif %}
