<div class="proposal-answers">

<!--
<h2 class="answers-header"><abbr title="Questions and Answers">Q &amp; A</abbr></h2>
-->

{% if page.project_is_collaboration != "No" and page.project_collaborators.size > 0 %}
<h3>Are any other organizations collaborating on this proposal?</h3>

{% for collaborator in page.project_collaborators %}
<p>{{ collaborator }}</p>
{% endfor %}

{% endif %}

<h3>Please describe your project proposal.</h3>
{{ page.project_proposal_description | markdownify }}

{% assign category_metrics = page.category_metrics %}
{% unless category_metrics %}
{% assign category_metrics = page.project_proposal_impact %}
{% endunless %}

<h3>Which of the <span style="text-transform: uppercase;">{{ page.category }}</span> metrics will your proposal impact?​</h3>
<ul>
  {% for metric in category_metrics %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>

{% if page.category_other %}
<h3>Will your proposal impact any other LA2050 goal categories?</h3>
<ul>
  {% for metric in page.category_other %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page.project_areas %}
  <li>
    {{
      area
        | replace: "(please select only if your project has a countywide", ""
        | replace: "(please select only if your project has a citywide", ""
        | replace: "benefit)", ""
    }}
  </li>
  {% endfor %}
</ul>

<h3>Describe in greater detail how your proposal will make LA the best place to <span style="text-transform: uppercase;">{{ page.category }}</span>? </h3>
{{ page.project_proposal_best_place | markdownify }}

<h3>Please explain how you will define and measure success for your project.​</h3>
{{ page.project_measure | markdownify }}

{% if page.project_proposal_help %}
<h3>How can the LA2050 community and other stakeholders help your proposal succeed?</h3>
<ul>
  {% for help in page.project_proposal_help %}
  <li>{{ help }}</li>
  {% endfor %}
</ul>
{% endif %}

</div>
