<div class="proposal-answers">

<!--
<h2 class="answers-header"><abbr title="Questions and Answers">Q &amp; A</abbr></h2>
-->

{% if page["Are any other organizations collaborating on this proposal?"] and page["Are any other organizations collaborating on this proposal?"] != "" %}
<h3>Are any other organizations collaborating on this proposal?</h3>
{{ page["Are any other organizations collaborating on this proposal?"] }}
{% endif %}

<h3>Please describe the activation your organization seeks to launch.</h3>
{{ page["Please describe the activation your organization seeks to launch."] | markdownify }}

<h3>Which of the <span style="text-transform: uppercase;">{{ page.category }}</span> metrics will your activation impact?​</h3>
<ul>
  {% for metric in page["Which metrics will your activation impact?​"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>

{% if page["Will your proposal impact any other LA2050 goal categories?"] %}
<h3>Will your proposal impact any other LA2050 goal categories?</h3>
<ul>
  {% for metric in page["Will your proposal impact any other LA2050 goal categories?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page["In what areas of Los Angeles will you be directly working?"] %}
  <li>
    {{
      area
        | replace: "(please select only if your project has a countywide", ""
        | replace: "(please select only if your project has a citywide", ""
        | replace: "benefit)", ""
    }}
  </li>
  {% endfor %}
</ul>

{% if page["How will your activation mobilize Angelenos?"] %}
<h3>How will your activation mobilize Angelenos?</h3>
<ul>
  {% for item in page["How will your activation mobilize Angelenos?"] %}
  <li>
    {{
      item
        | replace: "(e.g. voting, running for", ""
        | replace: "office, community problem solving)", ""
        | replace: "(e.g. buycott, boycott, promote", ""
        | replace: "corporate social responsibility)", ""
        | replace: "(e.g. change consumer spending or increase", ""
        | replace: "conservation activity)", ""
    }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<h3>Describe in greater detail how your activation will make LA the best place to <span style="text-transform: uppercase;">{{ page.category }}</span>? </h3>
{{ page["Describe in greater detail how your activation will make LA the best place?"] | markdownify }}

{% if page["How will your activation engage Angelenos to make LA the best place?"] %}
<h3>How will your activation engage Angelenos to make LA the best place to <span style="text-transform: uppercase;">{{ page.category }}</span></h3>
{{ page["How will your activation engage Angelenos to make LA the best place?"] | markdownify }}
{% endif %}

<h3>Please explain how you will define and measure success for your activation.​</h3>
{{ page["Please explain how you will define and measure success for your activation.​"] | markdownify }}

{% if page["Where do you hope this activation or your organization will be in five years?"] %}
<h3>Where do you hope this activation or your organization will be in five years?</h3>
{{ page["Where do you hope this activation or your organization will be in five years?"] | markdownify }}
{% endif %}

{% if page.project_proposal_help %}
<h3>How can the LA2050 community and other stakeholders help your proposal succeed?</h3>
<ul>
  {% for help in page["How can the LA2050 community and other stakeholders help your proposal succeed?"] %}
  <li>{{ help }}</li>
  {% endfor %}
</ul>
{% endif %}

</div>
