<div class="proposal-answers">

{% comment %}
<h3>What is your idea and how will it impact your indicator?</h3>
{{ page.brief | markdownify }}
{% endcomment %}

<h3>What are some of your organization’s most important achievements to date? </h3>
{{ page.description1 | markdownify }}

<h3>Please identify any partners or collaborators who will work with you on this project.</h3>
{{ page.collaborators | markdownify }}

<h3>Please explain how you will evaluate your project. How will you measure success?</h3>
{{ page.success | markdownify }}

<h3>How will your project benefit Los Angeles?</h3>
{{ page.description | markdownify }}

<h3>What would success look like in the year 2050 regarding your indicator?</h3>
{{ page.vision | markdownify }}

</div>
