
{% if page.is_search_results %}{% unless page.tag %}<script type="text/template" data-year="{{ data.year_submitted | join: ',' }}" data-tags="{{ data['tags_indicators'] | join: ',' }}" {% if include.winner_year %} data-winner="data-winner" {% elsif include.finalist_year %} data-finalist="data-finalist" {% elsif include.honorable_year %} data-honorable="data-honorable" {% endif %}>{% endunless %}{% endif %}

<li data-project-titles="{{ data['project_titles'] | join: "," }}">
  <a href="{{ data.url }}">
    <span class="image">

      {% if data['cached_project_image'] and data['project_image'] contains "http://" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% elsif data['cached_project_image'] and data['project_image'] contains "https://skild-prod.s3.amazonaws.com" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% elsif data['cached_project_image'] and data['project_image'] contains "https://scontent" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% else %}
      <img src="{{ data['project_image'] }}" alt="" width="540" height="428" />
      {% endif %}

      {% comment %}
      <span style="background-image: url({{ data['project_image'] }})"></span>
      {% endcomment %}
    </span>
    <h3>{{ data['title'] }}</h3>
    <p class="description">{{ data['org_summary'] | strip_html | truncate: 250 }}</p>
    <p class="description" style="margin-top: 0.375rem;">
      {% if award_note == "" %}
        <small style="color: rgba(0, 0, 0, 0.5)">
          {{ data['year_submitted'][0] }}
        </small>
      {% else %}
        <small style="color: var(--primary-color); font-weight: 600;">
          {{ award_note }}
        </small>
      {% endif %}
    </p>
  </a>
</li>

{% if page.is_search_results %}{% unless page.tag %}</script>{% endunless %}{% endif %}

