<div class="proposal-answers">

{% comment %}
<h3>In one sentence, please describe what your organization does</h3>
{{ page["In one sentence, please describe what your organization does"] | markdownify }}
{% endcomment %}

{% comment %}
<h3>In one to three sentences, please describe your proposal.</h3>
{{ page["In one to three sentences, please describe your proposal."] | markdownify }}
{% endcomment %}

<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page["Where will you be working?"] %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>

<h3>How do you plan to use these resources to make change?</h3>
<ul>
  {% for area in page["How do you plan to use these resources to make change?"] %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>

{% if page["How will your proposal improve the following “Learn” metrics?"] and page["How will your proposal improve the following “Learn” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Learn” metrics?</h3>
<ul>
  {% for metric in page["How will your proposal improve the following “Learn” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page["How will your proposal improve the following “Create” metrics?"] and page["How will your proposal improve the following “Create” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Create” metrics?</h3>
<ul>
  {% for metric in page["How will your proposal improve the following “Create” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page["How will your proposal improve the following “Play” metrics?"] and page["How will your proposal improve the following “Play” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Play” metrics?</h3>
<ul>
  {% for metric in page["How will your proposal improve the following “Play” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page["How will your proposal improve the following “Connect” metrics?"] and page["How will your proposal improve the following “Connect” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Connect” metrics?</h3>
<ul>
  {% for metric in page["How will your proposal improve the following “Connect” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page["How will your proposal improve the following “Live” metrics?"] and page["How will your proposal improve the following “Live” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Live” metrics?</h3>
<ul>
  {% for metric in page["How will your proposal improve the following “Live” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if page["Describe in greater detail how you will make LA the best place to learn."] %}
<h3>Describe in greater detail how you will make LA the best place to learn.</h3>
{{ page["Describe in greater detail how you will make LA the best place to learn."] | markdownify }}

{% elsif page["Describe in greater detail how you will make LA the best place to create."] %}
<h3>Describe in greater detail how you will make LA the best place to create.</h3>
{{ page["Describe in greater detail how you will make LA the best place to create."] | markdownify }}

{% elsif page["Describe in greater detail how you will make LA the best place to play."] %}
<h3>Describe in greater detail how you will make LA the best place to play.</h3>
{{ page["Describe in greater detail how you will make LA the best place to play."] | markdownify }}

{% elsif page["Describe in greater detail how you will make LA the best place to connect."] %}
<h3>Describe in greater detail how you will make LA the best place to connect.</h3>
{{ page["Describe in greater detail how you will make LA the best place to connect."] | markdownify }}

{% elsif page["Describe in greater detail how you will make LA the healthiest place to live:"] %}
<h3>Describe in greater detail how you will make LA the healthiest place to live:</h3>
{{ page["Describe in greater detail how you will make LA the healthiest place to live:"] | markdownify }}

{% endif %}

<h3>Please explain how you will evaluate your work.</h3>
{{ page["Please explain how you will evaluate your work."] | markdownify }}

<h3>How can the LA2050 community and other stakeholders help your proposal succeed?</h3>
<ul>
  {% for area in page["How can the LA2050 community and other stakeholders help your proposal succeed?"] %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>

</div>
