
{% if page.is_search_results %}{% unless page.tag %}<script type="text/template" data-year="{{ data.year_submitted | join: ',' }}" data-tags="{{ data['tags_indicators'] | join: ',' }}" {% if include.is_winner %} data-winner="data-winner" {% elsif include.is_finalist %} data-finalist="data-finalist" {% endif %}>{% endunless %}{% endif %}

<li data-project-titles="{{ data['project_titles'] | join: "," }}">
  <a href="{{ data.url }}">
    <span class="image">

      {% if data['cached_project_image'] and data['project_image'] contains "http://" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% elsif data['cached_project_image'] and data['project_image'] contains "https://skild-prod.s3.amazonaws.com" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% elsif data['cached_project_image'] and data['project_image'] contains "https://scontent" %}
      <img src="{{ data['cached_project_image'] | replace: '%25', '%2525' }}" alt="" width="540" height="428" />
      {% else %}
      <img src="{{ data['project_image'] }}" alt="" width="540" height="428" />
      {% endif %}

      {% comment %}
      <span style="background-image: url({{ data['project_image'] }})"></span>
      {% endcomment %}
    </span>
    <h3>{{ data['title'] }}</h3>
    <p class="description">{{ data['org_summary'] | strip_html | truncate: 250 }}</p>
    <p class="description" style="margin-top: 0.375rem;">
      <small {% if include.winner_year or include.finalist_year or include.honorable_year %} style="color: var(--primary-color); font-weight: 600;" {% else %} style="color: rgba(0, 0, 0, 0.5)" {% endif %}>
        {% if include.winner_year %}{{ include.winner_year }}{% elsif include.finalist_year %}{{ include.finalist_year }}{% elsif include.honorable_year %}{{ include.honorable_year }}{% else %}{{ data['year_submitted'][0] }}{% endif %}{% if data.zip and data.zip != "" and data.zip != "0" and false %}, 
          {{ data.zip }}
        {% endif %}{% if include.winner_year %} Winner{% elsif include.finalist_year %} Finalist{% elsif include.honorable_year %} Honorable Mention{% endif %}
      </small>
    </p>
  </a>
</li>

{% if page.is_search_results %}{% unless page.tag %}</script>{% endunless %}{% endif %}

