
      <p>
        Thanks to all who donated through the 2020 My LA2050 Ideas Archive match! We've reached our $10,000 limit. Any additional donations will not be doubled but will still support the incredible nonprofits, so keep spreading the love. 
      </p>

      {% comment %}
      <p>
        Double your impact! Pick an organization to support and we’ll match your donation!
      </p>

      <p>
        The archive is part of the greater <a href="https://la2050.org/">LA2050 initiative</a>.
        <span class="avoid-break" data-characters="45">We’re working to move Los Angeles <span class="avoid-break">toward <a href="https://la2050.org/#learnmore">five goals</a>.</span></span>
      </p>

      <p>
        The 2019 My LA2050 Grants Challenge has started!
      </p>
      <p class="action">
        <a href="https://challenge.la2050.org">Submit your idea by March 29, 2019</a>
      </p>

      <p>
        The 2019 My LA2050 Grants Challenge has started!
      </p>
      <p class="action">
        <a href="https://challenge.la2050.org/entries/?referrer=archive.la2050.org">Check out the entries</a>
      </p>

      <p>
        <a href="https://challenge.la2050.org/entries/?referrer=archive.la2050.org">Public voting</a> in the 2019 My LA2050 Grants Challenge has started!
      </p>    
      <p class="action">
        <a href="https://challenge.la2050.org/entries/?referrer=archive.la2050.org">Vote by April 29, 2019</a>
      </p>

      <p>
        The <a href="https://challenge.la2050.org/?referrer=archive.la2050.org">2020 My LA2050 Grants Challenge</a> winners have been announced!
      </p>    
      <p class="action">
        <a href="https://challenge.la2050.org/?referrer=archive.la2050.org">Check out the winners</a>
      </p>
      {% endcomment %}

      {% comment %}
      <p style="padding-top: 40vh; display: block; margin-left: auto; margin-right: auto;">
        This page is an archive of past challenges.<br /><br />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="44.8" height="51.2">
          <path fill="currentColor" d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z" class=""></path>
        </svg>
      </p>
      
      <style>
        .promotion {
          padding-top: 40vh;
        }
      </style>

      <script src="https://challenge.la2050.org/api/entries.js"></script>
      <script>
      (function() {
        function stringToURI(str) {
          return String(str).toLowerCase()
            .replace(/\s/g, '-')
            .replace(/\//g, '-')
            .replace(/\&/g, '-')
            .replace(/\./g, '-')
            .replace(/\:/g, '-')
            .replace(/\!/g, '-')
            .replace(/…/g, '-')
            .replace(/\?/g, '-')
            .replace(/\$/g, '-')
            .replace(/\%/g, '-')
            .replace(/\≠/g, '-')
            .replace(/\–/g, '-')
            .replace(/\—/g, '-')
            .replace(/\|/g, '-')
            .replace(/\_/g, '-')
            .replace(/\,/g, "-")
            .replace(/\+/g, "-")
            .replace(/\>/g, "-")
            .replace(/\r\n?/, '-')
            .replace(/\'/g, '')
            .replace(/\‘/g, '')
            .replace(/\’/g, '')
            .replace(/\“/g, '')
            .replace(/\”/g, '')
            .replace(/\(/g, '')
            .replace(/\)/g, '')
            .replace(/\{/g, '')
            .replace(/\}/g, '')
            .replace(/\"/g, '')
            .replace(/\#/g, '')
            .replace(/\;/g, '')
            .replace(/\-\-\-\-/g, '-')
            .replace(/\-\-\-/g, '-')
            .replace(/\-\-/g, '-')
            .replace(/^\-/g, '') // Remove starting dash
            .replace(/\-$/g, '') // Remove trailing dash
            .replace(/ /g, '')
        }

        function getStringForComparison(string) {
          string = string.toLowerCase().replace(/\,/g, "").replace(/\\\r\\\n/g, "").replace(/\\\r/g, "").replace(/\\\n/g, "").trim()
          string = (stringToURI(string).replace(/\-/, ""))
          // if (string.indexOf("A house for Tommy in my backyard!") >= 0) {
          //   console.log("BEFORE")
          //   console.log(string)
          //   console.log("AFTER")
          //   console.log(string.toLowerCase().replace(/\,/g, "").replace(/\\\r\\\n/g, "").replace(/\\\r/g, "").replace(/\\\n/g, "").trim())
          //   return "A house for Tommy in my backyard! If only LA knew the opportunity that lies in our backyards…"
          // }
          return string
        }

        var links, random;

        var categories = [
          'learn',
          'create',
          'play',
          'connect',
          'live'
        ];

        random = Math.floor(Math.random() * categories.length) + 0;

        links = document.querySelectorAll('a[href*="challenge.la2050.org/entries/"]');
        links.forEach(function(link) {
          link.setAttribute('href', link.getAttribute('href').replace('/entries/', '/' + categories[random] + '/'));

          {% if page.layout == 'organization' %}
          // If the title of the page is the same as one of the challenge entries
          if (window.entries) {
            entries.forEach(entry => {
              if (getStringForComparison(entry.organization_name) == getStringForComparison('{{ page.title }}')) {

                // Change the link to point to that entry’s page
                link.setAttribute('href', 'https://challenge.la2050.org' + entry.url + '?referrer=archive.la2050.org');
              }
            });
          }
          {% endif %}
        });

        links = document.querySelectorAll('a[href*="challenge.la2050.org/finalists/"]');
        links.forEach(function(link) {
          link.setAttribute('href', link.getAttribute('href').replace('/finalists/', '/' + categories[random] + '/'));
        });
      })();
      </script>
      {% endcomment %}

