
@media (min-width: 70em) {
  .header-figure.has-caption.has-caption-details {
    margin-bottom: -1.5em !important;
  }
  .header-figure.has-caption.has-caption-details img {
    position: relative !important;
  }

  .header-figure.has-caption.has-caption-details .caption {
    padding: 0;
  }
  .header-figure.has-caption.has-caption-details .caption .details {
    color: white !important;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    padding-bottom: 3em !important;
    border-bottom: 3em solid white;
    background: transparent;
    font-size: 1em;
  }
  .header-figure.has-caption.has-caption-details + .activate-tag,
  .header-figure.has-caption.has-caption-details + .activate-tag + h2,
  .header-figure.has-caption.has-caption-details + .activate-tag + h2 + p {
    position: relative;
    z-index: 5;
  }
}

.header-figure.has-caption.has-caption-details .caption .details svg path,
.header-figure.has-caption.has-caption-details .caption .details svg line,
.header-figure.has-caption.has-caption-details .caption .details svg polyline {
  stroke: currentColor;
}

.header-figure.has-caption.has-caption-details .caption .details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header-figure .caption .details p.action {
  justify-self: end;
  align-self: center;
}
.header-figure .caption .details p.action a {
  margin-right: 0 !important;
}
.header-figure .caption .details p:not(.action) {
  justify-self: start;
  grid-column: 2 / -1;
}

body main .header-figure.has-caption.has-caption-details .caption .details {
  display: block;
  text-align: center !important;
}

.header-figure .caption .details p.action,
.header-figure .caption .details p:not(.action) {
  font-size: 1.25em;
  text-align: center !important;
  margin: 0.1875em 0.375em !important;
}

@media (min-width: 70em) {
  body main .header-figure.has-caption.has-caption-details .caption .details {
    padding-bottom: 3.75em !important;
    padding-bottom: 3.75vmax !important;
  }
  .header-figure .caption .details p.action,
  body main .header-figure .caption .details p:not(.action) {
    font-size: 1.75vmax;
  }
}

.header-figure .caption .details {
  background-color: rgb(6, 179, 188); /* @blueberry */
  color: white;
}
.header-figure .caption .details .action a {
  background-color: transparent;
  border-color: white;
  border-color: rgb(46, 219, 228); /* @bright-blueberry */
  padding: 0.375em 0.75em;
  text-transform: none;
  margin-right: 1.5em;
  letter-spacing: 0;
}
.header-figure .caption .details .action a:hover,
.header-figure .caption .details .action a:active,
.header-figure .caption .details .action a:focus {
  background: white;
  border-color: rgb(46, 219, 228); /* @bright-blueberry */
  color: rgb(46, 219, 228); /* @bright-blueberry */
}

@media (min-width: 70em) {
  .header-figure .caption .details .action a {
    background-color: rgb(46, 219, 228); /* @bright-blueberry */
    border-color: rgb(46, 219, 228); /* @bright-blueberry */
    background-color: var(--primary-color, rgb(46, 219, 228)); /* @bright-blueberry */
    border-color: var(--primary-color, rgb(46, 219, 228)); /* @bright-blueberry */
    color: white;
  }
  .header-figure .caption .details .action a:hover,
  .header-figure .caption .details .action a:active,
  .header-figure .caption .details .action a:focus {
    border-color: var(--primary-color);
    background-color: white;
    color: var(--primary-color);
  }
}


@media (min-width: 70em) {
  .header-figure.has-caption.has-caption-details {
    margin-bottom: 1.5em !important;
    display: grid;
    margin-top: -10em !important;
  }
  .header-figure.has-caption.has-caption-details img,
  .header-figure.has-caption.has-caption-details .caption {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  body main .header-figure.has-caption.has-caption-details .caption {
    padding-top: 13.5em;
    /*padding-top: 22.5vw;*/
  }
  body main .header-figure.has-caption.has-caption-details .caption h1 {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
  }
  body main .header-figure.has-caption.has-caption-details .caption .details {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    border-bottom-width: 0 !important;
  }
  .header-figure.has-caption.has-caption-details img {
    top: 0 !important;
    height: 60vw !important;
    object-position: top !important;
  }
  .header-figure.has-caption::before {
    background:
      linear-gradient(195deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0)), linear-gradient(to bottom right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0));
  }
}

@media (max-width: 70em) {
  .header-figure .caption {
    padding: 1.5em 1.5em 3em;
    background: transparent !important;
    margin-top: -7.75em;
  }
  .header-figure .caption .details {
    background: transparent !important;
    padding: 0;
    margin: 0;
  }
  .header-figure .caption .details p.action {
    margin: 0 !important;
  }
  .header-figure .caption .details p.action a {
    background-color: rgb(6, 179, 188); /* @blueberry */
    border-color: rgb(6, 179, 188); /* @blueberry */;
    color: white;
  }
}


body .header-figure.has-caption.has-caption-details .caption h1 {
  line-height: 1.25; /* 5vw/6vw x 1.5 */
}
@media (max-width: 30em) {
  body .header-figure.has-caption.has-caption-details .caption h1 {
    font-size: 1.75em !important;
    width: calc(100% - 3rem) !important;
    left: 1.5rem !important;
  }
  body .header-figure.has-caption.has-caption-details .caption h1 br {
    display: none;
  }
}


.header-figure.has-caption.has-caption-details img {
  object-position: calc(0% + var(--scroll-percentage, 0) * 1) calc(0% + var(--scroll-percentage, 0) * 20) !important;
}


/* For phase 6 “We belive in the power of Angelenos” */
body .header-figure.has-caption.has-caption-details .caption h1 > span {
  color: white;
}
@media (min-width: 50em) {
  body .header-figure.has-caption.has-caption-details .caption h1 {
    font-size: 6vmax !important;
  }
}
body .header-figure.has-caption::before {
  z-index: 1;
}
body .header-figure.has-caption::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: none;
}
body main .header-figure.has-caption.has-caption-details .caption .details {
  position: relative;
  z-index: 1;
}


