
  /* =Numbers
  ----------------------------------------------- */
  .numbers dl {
    margin-top: 3em;
    margin-bottom: 3em;
    color: rgb(237, 59, 136); /* @strawberry */
    text-transform: uppercase;
    text-align: center;
    border: 0.1875rem solid rgba(237, 59, 136, 0.5); /* @strawberry */
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }
  .numbers dt {
    font-size: 2em;
    line-height: 1;
    font-style: italic;
    font-weight: bold;
    border: 0.1875rem solid rgba(237, 59, 136, 0.5); /* @strawberry */
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 0.75em 0.25em 0;
  }
  .numbers dd {
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    line-height: 1;
    margin-left: 0;
    color: rgba(237, 59, 136, 0.5); /* @strawberry */
    border: 0.1875rem solid rgba(237, 59, 136, 0.5); /* @strawberry */
    border-top-width: 0;
    padding: 0.375em 0.75em 2em;
  }
  @supports(display: grid) {
    @media (min-width: 60em) {
      .numbers dl {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5em;
        border: 0.1875rem solid rgba(237, 59, 136, 0.5); /* @strawberry */
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
      }
      .numbers dt {
        grid-row: 1 / 2;
        align-self: end;
        border: 0.1875rem solid rgba(237, 59, 136, 0.5); /* @strawberry */
        border-left-width: 0;
        border-bottom-width: 0;
      }
      .numbers dd {
        grid-row: 2 / 3;
        align-self: start;
        border: 0.1875rem solid rgba(237, 59, 136, 0.5); /* @strawberry */
        border-top-width: 0;
        border-left-width: 0;
      }
    }
  }
