---
layout: default
main_class: standard-layout
stylesheets:
  - "/assets/css/project-list.css"
  - "/assets/css/project.css"
---

{% case page.category %}
  {% when 'learn' %}
     {% assign primary_color = "blueberry" %}
  {% when 'create' %}
     {% assign primary_color = "banana" %}
  {% when 'play' %}
     {% assign primary_color = "strawberry" %}
  {% when 'connect' %}
     {% assign primary_color = "tangerine" %}
  {% when 'live' %}
     {% assign primary_color = "lime" %}
  {% else %}
     {% assign primary_color = "strawberry" %}
{% endcase %}

<script>
document.body.classList.remove("strawberry")
document.body.classList.add("{{ primary_color }}")
</script>


<style>
.links h2:first-child {
  margin-top: 2.25rem;
}
.links-tags ul {
  margin: 0;
}
.links-tags ul,
.links-tags li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.links-tags li {
  display: inline-block;
  font-size: 0.875em;
}
.links-tags li:not(:last-child)::after {
  content: ", ";
}
.links-tags li a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.links-tags li a:hover,
.links-tags li a:active,
.links-tags li a:focus {
  color: inherit;
  text-decoration: underline;
}
</style>


<style>
/*  .proposal-introduction figure {
    display: none;
  }
  .proposal-header,
  .proposal-description {
    grid-column: 1/-1;
  }*/
</style>


<style>
.standard-layout > h2 {
  grid-column: 1/-1;
}
.standard-layout > ul {
  grid-column: 1/-1;
}
</style>



<section class="proposal-introduction" style="grid-column: 1/4">

<div class="proposal-header">
{% comment %}
<p class="category">
  <a href="/{{ page.category }}/">{{ page.category }}</a>
</p>
{% endcomment %}
<h1 style="margin-bottom: 0">{{ page.organization_name }}</h1>
</div>

{% if page.organization_instagram contains "http" %}
{% assign instagram_url = page.organization_instagram %}
{% elsif page.organization_instagram contains "instagram.com/" %}
{% capture instagram_url %}https://{{ page.organization_instagram }}{% endcapture %}
{% else %}
{% capture instagram_url %}https://instagram.com/{{ page.organization_instagram }}{% endcapture %}
{% endif %}


{% assign image_url = page.project_image %}
{% assign image_category = page.category %}

<figure class="feature has-image">
<div data-aspect-ratio="1280/720">

{% assign project = page.projects | first %}
<a href="{{ project.uri }}">

{% if page.plan_id %}
<img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/{{ page['project_image'] }}" alt="" width="540" height="428" />
{% else %}
<img src="https://activation.la2050.org/assets/images/{{ page.category }}/2048-wide/{{ image_url }}" alt="" width="500" />
{% endif %}

</a>

</div>
</figure>

<div class="proposal-description">
<!-- TODO: Handle long lists of collaborators:
  /learn/wish-academy-high-school/
  /connect/data-roads-foundation/
  /connect/investing-in-place/
  /play/co-led-by-industrial-district-green-and-cal-poly-pomona-department-of-landscape-architecture-/
-->
<p style="font-style: italic; font-size: 0.875em; font-weight: 500;">{{ page.organization_description }}</p>

<p style="margin-bottom: 0">
  {{ page.organization_activity }}
</p>

{% if page.link_donate and page.link_donate != '' %}
{% assign link_donate_exists = true %}
{% endif %}

{% if page.link_volunteer and page.link_volunteer != '' %}
{% assign link_volunteer_exists = true %}
{% endif %}


{% if link_donate_exists or link_volunteer_exists %}
<div class="links links-involved">
<h2>Get involved</h2>

<ul class="action" style="max-width: none;">
  {% if link_donate_exists %}

    {% for link_donate in page.link_donate limit:1 %}

    {% if link_donate contains "http" or link_donate contains "mailto" %}
    {% assign link_donate_url = link_donate %}
    {% else %}
    {% capture link_donate_url %}http://{{ link_donate }}{% endcapture %}
    {% endif %}

    {% assign url_contains_notes = '' %}
    {% if link_donate_url contains " " %}
    {% unless link_donate_url contains "?subject" %}
    {% assign url_contains_notes = link_donate_url %}
    {% endunless %}
    {% endif %}
    {% if url_contains_notes == '' %}
    <li><a href="{{ link_donate_url }}">Donate</a></li>
    {% endif %}

    {% endfor %}

  {% endif %}

  {% if link_volunteer_exists %}

    {% for link_volunteer in page.link_volunteer limit:1 %}

    {% if link_volunteer contains "http" or link_volunteer contains "mailto" %}
    {% assign link_volunteer_url = link_volunteer %}
    {% else %}
    {% capture link_volunteer_url %}http://{{ link_volunteer }}{% endcapture %}
    {% endif %}

    {% assign url_contains_notes = '' %}
    {% if link_volunteer_url contains " " %}
    {% unless link_volunteer_url contains "?subject" %}
    {% assign url_contains_notes = link_volunteer_url %}
    {% endunless %}
    {% endif %}
    {% if url_contains_notes == '' %}
    <li><a href="{{ link_volunteer_url }}">Volunteer</a></li>
    {% endif %}

    {% endfor %}

  {% endif %}
</ul>
</div>
{% endif %}



{% if page.zip %}
<div class="links links-tags">
<h2>Where we work</h2>

<ul>
  <li><a href="https://maps.google.com/maps?q={{ page.zip }}">{% if page.neighborhood %}{{ page.neighborhood | replace: "(Los Angeles)", "" }} <small style="opacity: 0.5; margin-left: 0.75em">{{ page.zip }}</small>{% else %}{{ page.zip }}{% endif %}</a></li>
</ul>
</div>
{% endif %}



{% if page.aidens_tags and page.aidens_tags.size > 0 %}
<div class="links links-tags">
<h2>Tags</h2>

<ul>
{% for tag in page.aidens_tags %}
  <li><a href="/search/?keywords={{ tag }}">{{ tag }}</a></li>
{% endfor %}
</ul>

</div>
{% endif %}


</section><!-- /.proposal-introduction -->

<hr />

{% include project-links.html %}

<hr />

{% if page.project_video and false %}
<div style="grid-column: 1/4;">
  <figure class="feature proposal-video-figure">
    <div data-aspect-ratio="1280/720">
      <div class="proposal-video">
        <iframe src="{{ page.project_video }}&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </figure>
  <script type="text/template" id="video-template">
    <figure class="feature proposal-video-figure">
      <div data-aspect-ratio="1280/720">
        <div class="proposal-video">
          <iframe src="{{ page.project_video }}&modestbranding=1&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </figure>
  </script>
</div>

<script type="text/javascript">
  // Replace the image with a video element, if the link to the video has been pressed
  (function() {

    // Do we have the features we need?
    if (!document.body.querySelector ||
        !document.body.addEventListener) return;

    var button   = document.getElementById('video-figure');
    var template = document.getElementById('video-template');
    var parent;

    var activated = false;

    if (button && template) {
      parent = template.parentNode;
      button.addEventListener('click', function(e) {
        if (activated) {
          parent.scrollIntoView({ behavior: 'smooth' });
          e.preventDefault();
          return;
        }
        activated = true;
        parent.innerHTML = template.innerHTML;
        parent.scrollIntoView({ behavior: 'smooth' });
        // template.parentNode.scrollIntoView(true);
        document.body.classList.add('has-active-video');
        e.preventDefault();
      }, false);
    }
  })();
</script>
{% endif %}



<h2 style="text-align: left; justify-self: start; max-width: none; margin-bottom: 3rem; 
text-transform: uppercase;
font-weight: 600;
letter-spacing: 0.05em; color: rgb(41, 41, 41) !important; 
font-size: 1.25em; line-height: 1;">Ideas</h2>

{% assign project_list = page.projects | sort: "year" | reverse %}

{% for project in project_list %}

{% case project.category %}
  {% when 'learn' %}
     {% assign primary_color = "blueberry" %}
  {% when 'create' %}
     {% assign primary_color = "banana" %}
  {% when 'play' %}
     {% assign primary_color = "strawberry" %}
  {% when 'connect' %}
     {% assign primary_color = "tangerine" %}
  {% when 'live' %}
     {% assign primary_color = "lime" %}
  {% else %}
     {% assign primary_color = "strawberry" %}
{% endcase %}



<ul style="list-style: none; margin-left: 0; padding-left: 0; justify-self: center; width: 40em; max-width: 100%; box-sizing: border-box; margin-bottom: 3em;">


  <li class="{{ primary_color }}" style="list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 3em;">

      

      <p style="margin: 0 0 0.75rem; max-width: none; text-align: left; color: rgba(0, 0, 0, 0.5);"><small style="font-style: italic; font-size: 0.875em;"><strong><a href="/{{ project.category }}/" style="font-weight: inherit; color: var(--primary-color); text-transform: uppercase;">{{ project.category }}</a></strong> / <strong style="color: inherit;">{{ project.year }}</strong></small></p>

{% if project.project_video and project.project_video != "" %}
{% if project.project_video contains "youtu" or project.project_video contains "vimeo" %}
{% unless project.project_video contains "youtube.com/user/" %}
  {% assign video_embed_url = project.project_video %}

  {% if project.project_video contains "youtu" %}
    {% assign video_embed_url = video_embed_url | replace: 'watch?v=', 'embed/' %}
    {% assign video_embed_url = video_embed_url | replace: 'embed?v=', 'embed/' %}

    {% assign video_embed_url = video_embed_url | replace: 'https://youtu.be/', 'https://www.youtube.com/embed/' %}

    {% comment %}Replace query string params (since they’re usually not needed){% endcomment %}
    {% assign video_embed_url_array = video_embed_url | split: "?" %}
    {% assign video_embed_url = video_embed_url_array.first %}
    {% assign video_embed_url_array = video_embed_url | split: "&" %}
    {% assign video_embed_url = video_embed_url_array.first %}
    {% capture video_embed_url %}{{ video_embed_url }}?rel=0&showinfo=0&modestbranding=1{% endcapture %}
  {% endif %}

  {% assign video_embed_url = video_embed_url | replace: 'https://vimeo.com/', 'https://player.vimeo.com/video/' %}
{% endunless %}
{% endif %}
{% endif %}

{% assign image_url = project.project_image %}
{% assign image_category = project.category %}

{% assign project_image_file_name = project.project_image | split: "/" | last %}


{% if video_embed_url or project.project_video or project_image_file_name != page.project_image %}

<figure class="feature {% unless project.project_video != '' %} has-image{% endunless %}" style="margin: 0 0 0.75em 0;">
<div data-aspect-ratio="1280/720">

{% if video_embed_url %}
  <iframe src="{{ video_embed_url }}" frameborder="0" allowfullscreen style="z-index: 1;"></iframe>
{% endif %}
{% if project.project_video and project.project_video != '' %}
<a href="{{ project.project_video }}" target="_blank" class="has-icon">
{% else %}
<a href="{{ project.uri }}#details">
{% endif %}

<img src="{{ project.project_image }}" alt="" />


{% if project.project_video and project.project_video != '' %}
<span class="icon play">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.2 33.7" width="29" height="34">
<title>Play Video</title>
<switch>
<polygon fill="black" points="29.2,16.9 0,0 0,33.7 29.2,16.9 0,0 0,33.7 "></polygon>
<foreignObject>Play Video</foreignObject>
</switch>
</svg>
</span>
<span class="credit">Play video on {{
      project.project_video 
      | replace: "https://", ""
      | replace: "http://", ""
      | replace: "www.", ""
      | split: "/" | first
    }}</span>
</a>
{% else %}
</a>
{% endif %}
</div>
</figure>

{% else %}
<div style="border-width: 0 0 0.125em; border-style: solid; border-color: rgba(0, 0, 0, 0.15); margin: 0.75em 0;"></div>
{% endif %}

    <a href="{{ project.uri }}#details" style="color: inherit; text-decoration: none; text-align: left; font-weight: normal">
      <h3 style="color: var(--primary-color); 
line-height: 1.3125;
font-size: inherit;
font-weight: bold; 
line-height: inherit;
text-decoration: none;
margin-top: 0.375em;
margin-bottom: 0.375em; max-width: 33rem;">{{ project.title }}</h3>
    </a>

    <a href="{{ project.uri }}#details" style="color: inherit; text-decoration: none; text-align: left; font-weight: normal">
      <p style="margin: 0; max-width: 33rem; font-size: 0.875em;">{{ project.project_description }} <em style="display: inline-block; text-decoration: underline; color: var(--primary-color); font-weight: bold;">Learn more</em></p>
    </a>
  </li>
</ul>
{% endfor %}




<div style="margin-bottom: 9em; grid-column: 1/-1;"></div>


</div>

