---
layout: default
main_class: standard-layout
stylesheets:
  - "/assets/css/project-list.css"
  - "/assets/css/project.css"
---

{% assign data_collection = site.collections | where: "label", "organizations" | first %}

{% for item in data_collection.docs %}

  {% for project_id in item.project_ids %}
    {% if page.project_id == project_id %}
      {% assign organization = item %}
    {% endif %}
  {% endfor %}







  {% assign project_id_list = page.aggregated.project_ids %}
  {% for project_id in project_id_list %}
    {% if page.project_id == project_id %}
      {% assign organization = item %}
    {% endif %}
  {% endfor %}

  {% unless organization %}
    {% if item.organization_id == page.organization_id %}
      {% assign organization = item %}
    {% endif %}
  {% endunless %}

{% endfor %}


{% assign is_finalist = false %}
{% for finalist in site.finalists %}
  {% if finalist == organization.url %}
    {% if page.year_submitted == 2018 %}
      {% assign is_finalist = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign is_winner = false %}
{% for winner in site.data.winners %}

  {% if page.challenge_url and page.challenge_url != "" %}
    {% assign secure_challenge_url = page.challenge_url | replace: "http://", "https://" %}
    {% if winner.url contains secure_challenge_url or secure_challenge_url contains winner.url %}
      {% assign is_winner = true %}
    {% endif %}
  {% endif %}

  {% for challenge_url in organization.aggregated.challenge_url %}
    {% assign secure_challenge_url = challenge_url | replace: "http://", "https://" %}
    {% if winner.url contains secure_challenge_url or secure_challenge_url contains winner.url %}
      {% if page.year_submitted == 2018 %}
        {% if challenge_url contains "activation" %}
          {% assign is_winner = true %}
        {% endif %}
      {% elsif page.year_submitted == 2016 %}
        {% if challenge_url contains "challenge" %}
          {% assign is_winner = true %}
        {% endif %}
      {% elsif page.year_submitted == 2015 %}
        {% if challenge_url contains "maker" and challenge_url contains "2015" %}
          {% assign is_winner = true %}
        {% endif %}
      {% elsif page.year_submitted == 2014 %}
        {% if challenge_url contains "maker" %}
          {% if challenge_url contains "learn" or 
                challenge_url contains "create" or 
                challenge_url contains "play" or 
                challenge_url contains "connect" or 
                challenge_url contains "live" %}
            {% assign is_winner = true %}
          {% endif %}
        {% endif %}
      {% elsif page.year_submitted == 2013 %}
        {% if challenge_url contains "maker" %}
          {% unless challenge_url contains "learn" or 
                challenge_url contains "create" or 
                challenge_url contains "play" or 
                challenge_url contains "connect" or 
                challenge_url contains "live" %}
            {% assign is_winner = true %}
          {% endunless %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}




<div style="margin-top: 3em"></div>


{% if page.year_submitted == 2013 %}

{% assign challenge_title = "My LA2050 Maker Challenge" %}
{% assign challenge_url = "http://maker.good.is/myla2050.html" %}

{% elsif page.year_submitted == 2014 %}

{% assign challenge_title = "My LA2050 Maker Challenge" %}
{% capture challenge_url %}
http://maker.good.is/myLA2050{{ page.category }}.html
{% endcapture %}

{% elsif page.year_submitted == 2015 %}

{% assign challenge_title = "My LA2050 Maker Challenge" %}
{% capture challenge_url %}
http://maker.good.is/myla2050{{ page.category }}2015.html
{% endcapture %}

{% elsif page.year_submitted == 2016 %}

{% assign challenge_title = "My LA2050 Grants Challenge" %}
{% assign challenge_url = "https://challenge.la2050.org" %}

{% else %}

{% assign challenge_title = "My LA2050 Activation Challenge" %}
{% assign challenge_url = "https://activation.la2050.org" %}

{% endif %}

{% if page.challenge_url and page.challenge_url != "" %}
  {% assign challenge_url = page.challenge_url %}
{% endif %}


<section class="proposal-introduction" style="grid-column: 1/4">

<div class="proposal-header">
<p class="category" style="color: rgba(0, 0, 0, 0.5);">
  <strong style="text-transform: uppercase; letter-spacing: 0.05em; color: var(--primary-color)">{% if page.indicator %}{{ page.indicator }}{% else %}{{ page.category }}{% endif %} {% if is_winner %}Winner{% elsif is_finalist %}Finalist{% endif %}</strong> / <strong style="color: inherit;">{{ page.year_submitted }}</strong>
</p>
<h1 style="margin-bottom: 0">{{ page.title }}</h1>
</div>



{% if page.project_video and page.project_video != "" %}
{% if page.project_video contains "youtu" or page.project_video contains "vimeo" %}
{% unless page.project_video contains "youtube.com/user/" %}
  {% assign video_embed_url = page.project_video %}

  {% if page.project_video contains "youtu" %}
    {% assign video_embed_url = video_embed_url | replace: 'watch?v=', 'embed/' %}
    {% assign video_embed_url = video_embed_url | replace: 'embed?v=', 'embed/' %}

    {% assign video_embed_url = video_embed_url | replace: 'https://youtu.be/', 'https://www.youtube.com/embed/' %}

    {% comment %}Replace query string params (since they’re usually not needed){% endcomment %}
    {% assign video_embed_url_array = video_embed_url | split: "?" %}
    {% assign video_embed_url = video_embed_url_array.first %}
    {% assign video_embed_url_array = video_embed_url | split: "&" %}
    {% assign video_embed_url = video_embed_url_array.first %}
    {% capture video_embed_url %}{{ video_embed_url }}?rel=0&showinfo=0&modestbranding=1{% endcapture %}
  {% endif %}

  {% assign video_embed_url = video_embed_url | replace: 'https://vimeo.com/', 'https://player.vimeo.com/video/' %}
{% endunless %}
{% endif %}
{% endif %}

{% assign image_url = page.project_image %}
{% assign image_category = page.category %}

<figure class="feature {% unless page.project_video != '' %} has-image{% endunless %}">
<div data-aspect-ratio="1280/720">

{% if video_embed_url %}
  <iframe src="{{ video_embed_url }}" frameborder="0" allowfullscreen></iframe>
{% else %}
{% if page.project_video and page.project_video != '' %}
<a href="{{ page.project_video }}" target="_blank" rel="noopener" class="has-icon">
{% else %}
<a href="{{ page.project_image }}">
{% endif %}


<img src="{{ page.project_image }}" alt="{{ page.title }}" width="500" />


{% if page.project_video and page.project_video != '' %}
<span class="icon play">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.2 33.7" width="29" height="34">
<title>Play Video</title>
<switch>
<polygon fill="black" points="29.2,16.9 0,0 0,33.7 29.2,16.9 0,0 0,33.7 "></polygon>
<foreignObject>Play Video</foreignObject>
</switch>
</svg>
</span>
<span class="credit">Play video on {{
      page.project_video 
      | replace: "https://", ""
      | replace: "http://", ""
      | replace: "www.", ""
      | split: "/" | first
    }}</span>
</a>
{% else %}
</a>
{% endif %}
{% endif %}
</div>
</figure>

<div class="proposal-description">

<p style="font-style: italic; font-size: 0.875em; font-weight: 500;">Idea submitted in the <a href="{{ challenge_url }}" style="display: inline-block; color: inherit; font-weight: inherit;">{{ challenge_title }}</a> by <a href="{{ organization.url }}" style="display: inline-block; color: inherit; font-weight: inherit;">{{ organization.title }}</a></p>

<p style="margin-bottom: 0">
  {{ page.project_summary }}
</p>




</div>


{% comment %}
{% if page.link_newsletter and page.link_newsletter != '' %}

{% for link_newsletter in page.link_newsletter limit:1 %}

{% if link_newsletter contains "http" or link_newsletter contains "mailto" %}
{% assign link_newsletter_url = link_newsletter %}
{% else %}
{% capture link_newsletter_url %}http://{{ link_newsletter }}{% endcapture %}
{% endif %}

{% assign url_contains_notes = '' %}
{% if link_newsletter_url contains " " %}
{% unless link_newsletter_url contains "?subject" %}
{% assign url_contains_notes = link_newsletter_url %}
{% endunless %}
{% endif %}
{% if url_contains_notes == '' %}
<div class="links links-action">
<h2>Love this idea?</h2>

<ul class="action" style="max-width: none;">
  <li><a href="{{ link_newsletter_url }}">Stay updated on this project</a></li>
</ul>
</div>
{% endif %}

{% endfor %}

{% endif %}
{% endcomment %}


{% if page.link_donate and page.link_donate != '' %}
{% assign link_donate_exists = true %}
{% endif %}

{% if page.link_volunteer and page.link_volunteer != '' %}
{% assign link_volunteer_exists = true %}
{% endif %}


{% if link_donate_exists or link_volunteer_exists %}
<div class="links links-involved" style="display: none;">
<h2>Get involved</h2>

<ul class="action" style="max-width: none;">
  {% if link_donate_exists %}

    {% for link_donate in page.link_donate limit:1 %}

    {% if link_donate contains "http" or link_donate contains "mailto" %}
    {% assign link_donate_url = link_donate %}
    {% else %}
    {% capture link_donate_url %}http://{{ link_donate }}{% endcapture %}
    {% endif %}

    {% assign url_contains_notes = '' %}
    {% if link_donate_url contains " " %}
    {% unless link_donate_url contains "?subject" %}
    {% assign url_contains_notes = link_donate_url %}
    {% endunless %}
    {% endif %}
    {% if url_contains_notes == '' %}
    <li><a href="{{ link_donate_url }}">Donate</a></li>
    {% endif %}

    {% endfor %}

  {% endif %}

  {% if link_volunteer_exists %}

    {% for link_volunteer in page.link_volunteer limit:1 %}

    {% if link_volunteer contains "http" or link_volunteer contains "mailto" %}
    {% assign link_volunteer_url = link_volunteer %}
    {% else %}
    {% capture link_volunteer_url %}http://{{ link_volunteer }}{% endcapture %}
    {% endif %}

    {% assign url_contains_notes = '' %}
    {% if link_volunteer_url contains " " %}
    {% unless link_volunteer_url contains "?subject" %}
    {% assign url_contains_notes = link_volunteer_url %}
    {% endunless %}
    {% endif %}
    {% if url_contains_notes == '' %}
    <li><a href="{{ link_volunteer_url }}">Volunteer</a></li>
    {% endif %}

    {% endfor %}

  {% endif %}
</ul>
</div>
{% endif %}

</section><!-- /.proposal-introduction -->

<hr id="details" />

<div style="margin-top: 3em"></div>

{% comment %}

{% include project-links.html %}

<hr />
{% endcomment %}

{% if page.project_video and false %}
<div style="grid-column: 1/4;">
  <figure class="feature proposal-video-figure">
    <div data-aspect-ratio="1280/720">
      <div class="proposal-video">
        <iframe src="{{ page.project_video }}&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </figure>
  <script type="text/template" id="video-template">
    <figure class="feature proposal-video-figure">
      <div data-aspect-ratio="1280/720">
        <div class="proposal-video">
          <iframe src="{{ page.project_video }}&modestbranding=1&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </figure>
  </script>
</div>

<script type="text/javascript">
  // Replace the image with a video element, if the link to the video has been pressed
  (function() {

    // Do we have the features we need?
    if (!document.body.querySelector ||
        !document.body.addEventListener) return;

    var button   = document.getElementById('video-figure');
    var template = document.getElementById('video-template');
    var parent;

    var activated = false;

    if (button && template) {
      parent = template.parentNode;
      button.addEventListener('click', function(e) {
        if (activated) {
          parent.scrollIntoView({ behavior: 'smooth' });
          e.preventDefault();
          return;
        }
        activated = true;
        parent.innerHTML = template.innerHTML;
        parent.scrollIntoView({ behavior: 'smooth' });
        // template.parentNode.scrollIntoView(true);
        document.body.classList.add('has-active-video');
        e.preventDefault();
      }, false);
    }
  })();
</script>
{% endif %}

<div class="proposal-in-depth">



{% if page.maker_answers %}

{% if page.year_submitted == 2013 %}

<div class="proposal-answers">

<h3>What is your idea and how will it impact your indicator?</h3>
{{ page.maker_answers.description1 | markdownify }}

<h3>What are some of your organization’s most important achievements to date? </h3>
{{ page.maker_answers.description | markdownify }}

<h3>Please identify any partners or collaborators who will work with you on this project.</h3>
{{ page.maker_answers.collaborators | markdownify }}

<h3>Please explain how you will evaluate your project. How will you measure success?</h3>
{{ page.maker_answers.success | markdownify }}

<h3>How will your project benefit Los Angeles? Please be specific.</h3>
{{ page.maker_answers.brief | markdownify }}

<h3>What would success look like in the year 2050 regarding your indicator?</h3>
{{ page.maker_answers.vision | markdownify }}

</div>

{% elsif page.year_submitted == 2014 %}

<div class="proposal-answers">

<h3>In one sentence, please describe your idea or project.</h3>
{{ page.maker_answers.describe_idea | markdownify }}

{% comment %}
<h3>Does your project impact Los Angeles County? Check only one.</h3>


<h3>Which area(s) of LA does your project benefit? Check all that apply.</h3>


<h3>If other, please specify.:</h3>

{% endcomment %}

<h3>What is your idea/project in more detail?</h3>
{{ page.maker_answers.more_detail | markdownify }}

<h3>What will you do to implement this idea/project?</h3>
{{ page.maker_answers.implement | markdownify }}


{% if page.maker_answers.impact_learn %}

<h3>How will your idea/project help make LA the best place to LEARN today? In 2050?</h3>
{{ page.maker_answers.impact_learn | markdownify }}

{% elsif page.maker_answers.impact_create %}
<h3>How will your idea/project help make LA the best place to CREATE today? In 2050?</h3>
{{ page.maker_answers.impact_create | markdownify }}

{% elsif page.maker_answers.impact_play %}
<h3>How will your idea/project help make LA the best place to PLAY today? In 2050?</h3>
{{ page.maker_answers.impact_play | markdownify }}

{% elsif page.maker_answers.impact_connect %}
<h3>How will your idea/project help make LA the best place to CONNECT today? In 2050?</h3>
{{ page.maker_answers.impact_connect | markdownify }}

{% elsif page.maker_answers.impact_live %}
<h3>How will your idea/project help make LA the healthiest place to LIVE today? In 2050?</h3>
{{ page.maker_answers.impact_live | markdownify }}

{% endif %}


<h3>Whom will your project benefit? Please be specific. </h3>
{{ page.maker_answers.who_benefit | markdownify }}

<h3>Please identify any partners or collaborators who will work with you on this project.</h3>
{% if page.maker_answers.collaboration %}
  {{ page.maker_answers.collaboration | markdownify }}
{% else %}
  {{ page.maker_answers.partners_collaboration | markdownify }}
{% endif %}

{% comment %}
<h3>How will your project impact the LA2050 "LIVE" metrics?</h3>


<h3>If other, please specify.:</h3>

{% endcomment %}

<h3>Please elaborate on how your project will impact the above metrics.</h3>
{{ page.maker_answers.impact_metrics | markdownify }}

{% comment %}
<h3>Please select which other LA2050 Goals are relevant to your project or organization (check all that apply):</h3>

{% endcomment %}

<h3>Please explain how you will evaluate your project.</h3>
{{ page.maker_answers.evaluate | markdownify }}

<h3>What two lessons have informed your solution or project?</h3>
{{ page.maker_answers.two_lessons | markdownify }}

<h3>Explain how implementing your project within the next twelve months is an achievable goal. </h3>
{{ page.maker_answers.achievable_goal | markdownify }}

<h3>Please list at least two major barriers/challenges you anticipate. What is your strategy for ensuring a successful implementation?</h3>
{{ page.maker_answers.major_challenges | markdownify }}

{% comment %}
<h3>What resources does your project need? (check all that apply)</h3>

{% endcomment %}

</div>



{% elsif page.year_submitted == 2015 %}

<div class="proposal-answers">

{% comment %}
<h3>In one sentence, please describe what your organization does</h3>
{{ page.maker_answers["In one sentence, please describe what your organization does"] | markdownify }}
{% endcomment %}

<h3>In one to three sentences, please describe your proposal.</h3>
{{ page.maker_answers["In one to three sentences, please describe your proposal."] | markdownify }}

<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page.maker_answers["Where will you be working?"] %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>

<h3>How do you plan to use these resources to make change?</h3>
<ul>
  {% for area in page.maker_answers["How do you plan to use these resources to make change?"] %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>

{% if page.maker_answers["How will your proposal improve the following “Learn” metrics?"] and page.maker_answers["How will your proposal improve the following “Learn” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Create” metrics?</h3>
<ul>
  {% for metric in page.maker_answers["How will your proposal improve the following “Learn” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page.maker_answers["How will your proposal improve the following “Create” metrics?"] and page.maker_answers["How will your proposal improve the following “Create” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Create” metrics?</h3>
<ul>
  {% for metric in page.maker_answers["How will your proposal improve the following “Create” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page.maker_answers["How will your proposal improve the following “Play” metrics?"] and page.maker_answers["How will your proposal improve the following “Play” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Create” metrics?</h3>
<ul>
  {% for metric in page.maker_answers["How will your proposal improve the following “Play” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page.maker_answers["How will your proposal improve the following “Connect” metrics?"] and page.maker_answers["How will your proposal improve the following “Connect” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Create” metrics?</h3>
<ul>
  {% for metric in page.maker_answers["How will your proposal improve the following “Connect” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% elsif page.maker_answers["How will your proposal improve the following “Live” metrics?"] and page.maker_answers["How will your proposal improve the following “Live” metrics?"].size > 0 %}
<h3>How will your proposal improve the following “Create” metrics?</h3>
<ul>
  {% for metric in page.maker_answers["How will your proposal improve the following “Live” metrics?"] %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if page.maker_answers["Describe in greater detail how you will make LA the best place to learn."] %}
<h3>Describe in greater detail how you will make LA the best place to learn.</h3>
{{ page.maker_answers["Describe in greater detail how you will make LA the best place to learn."] | markdownify }}

{% elsif page.maker_answers["Describe in greater detail how you will make LA the best place to create."] %}
<h3>Describe in greater detail how you will make LA the best place to create.</h3>
{{ page.maker_answers["Describe in greater detail how you will make LA the best place to create."] | markdownify }}

{% elsif page.maker_answers["Describe in greater detail how you will make LA the best place to play."] %}
<h3>Describe in greater detail how you will make LA the best place to play.</h3>
{{ page.maker_answers["Describe in greater detail how you will make LA the best place to play."] | markdownify }}

{% elsif page.maker_answers["Describe in greater detail how you will make LA the best place to connect."] %}
<h3>Describe in greater detail how you will make LA the best place to connect.</h3>
{{ page.maker_answers["Describe in greater detail how you will make LA the best place to connect."] | markdownify }}

{% elsif page.maker_answers["Describe in greater detail how you will make LA the healthiest place to live:"] %}
<h3>Describe in greater detail how you will make LA the healthiest place to live:</h3>
{{ page.maker_answers["Describe in greater detail how you will make LA the healthiest place to live:"] | markdownify }}

{% endif %}

<h3>Please explain how you will evaluate your work.</h3>
{{ page.maker_answers["Please explain how you will evaluate your work."] | markdownify }}

<h3>How can the LA2050 community and other stakeholders help your proposal succeed?</h3>
<ul>
  {% for area in page.maker_answers["How can the LA2050 community and other stakeholders help your proposal succeed?"] %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>

</div>

{% endif %}








{% endif %}



{% if page.year_submitted == 2013 %}


{% comment %}
<div class="proposal-answers">

<h3>What is your idea and how will it impact your indicator?</h3>
{{ page['What is your idea and how will it impact your indicator?'] }}

<h3>What are some of your organization’s most important achievements to date?</h3>
{{ page['What are some of your organization’s most important achievements to date?'] }}

<h3>Please identify any partners or collaborators who will work with you on this project.</h3>
{{ page['Please identify any partners or collaborators who will work with you on this project.'] }}

<h3>Please explain how you will evaluate your project. How will you measure success?</h3>
{{ page['Please explain how you will evaluate your project. How will you measure success?'] }}

<h3>How will your project benefit Los Angeles? Please be specific.</h3>
{{ page['How will your project benefit Los Angeles? Please be specific.'] }}

<h3>What would success look like in the year 2050 regarding your indicator?</h3>
{{ page['What would success look like in the year 2050 regarding your indicator?'] }}

</div>
{% endcomment %}


{% elsif page.year_submitted == 2014 %}

{% comment %}
<div class="proposal-answers">

{% if page.project_areas and page.project_areas.size > 0 %}
<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page.project_areas %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>Which area(s) of LA does your project benefit?</h3>
{{ page['Which area(s) of LA does your project benefit? Other (elaborate)'] }}

<h3>What is your idea/project in more detail?</h3>
{{ page['What is your idea/project in more detail?'] }}

<h3>What will you do to implement this idea/project?</h3>
{{ page['What will you do to implement this idea/project?'] }}

<h3>How will your idea/project help make LA the best place to connect today? In LA2050?</h3>
{{ page['How will your idea/project help make LA the best place to connect today? In LA2050?'] }}

{% if page['Whom will your project benefit? Please be specific.'] != "" %}
<h3>Whom will your project benefit?</h3>
{{ page['Whom will your project benefit? Please be specific.'] }}
{% endif %}

</div>
{% endcomment %}


{% elsif page.year_submitted == 2015 %}

{% comment %}
<div class="proposal-answers">

{% if page.project_areas and page.project_areas.size > 0 %}
<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page.project_areas %}
  <li>{{ area }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if page['Please specify below'] != "" %}
<h3>Are there any other areas where you’ll be working?</h3>
{{ page['Please specify below'] }}
{% endif %}

<h3>Describe in greater detail how you will make LA the best place to connect</h3>
{{ page['Describe in greater detail how you will make LA the best place to connect:'] }}

<h3>Please list at least one major barrier/challenge you anticipate. What is your strategy for overcoming these obstacles?</h3>
{{ page['Please list at least one major barrier/challenge you anticipate. What is your strategy for overcoming these obstacles?'] }}

<h3>Please explain how you will evaluate your work.</h3>
{{ page['Please explain how you will evaluate your work.'] }}

<h3>Are there other organizations doing similar work (whether complementary or competitive)? What is unique about your proposed approach?</h3>
{{ page['Are there other organizations doing similar work (whether complementary or competitive)? What is unique about your proposed approach?'] }}

<h3>Please identify any partners or collaborators who will work with you on this project. How much of the $100,000 grant award will each partner receive?</h3>
{{ page['Please identify any partners or collaborators who will work with you on this project. How much of the $100,000 grant award will each partner receive?'] }}

<h3>How much do you think this will cost? If more than $100,000 – how will you cover the additional costs?</h3>
{{ page['How much do you think this will cost? If more than $100,000 – how will you cover the additional costs?'] }}

<h3>Please include a detailed budget of how you will use $100,000 to implement this project.</h3>
{{ page['Please include a detailed budget of how you will use $100,000 to implement this project.'] }}

<h3>How do you plan to scale the success of your proposal?</h3>
{{ page['How do you plan to scale the success of your proposal?'] }}

</div>
{% endcomment %}


{% else %}

<div class="proposal-answers">

<!--
<h2 class="answers-header"><abbr title="Questions and Answers">Q &amp; A</abbr></h2>
-->

{% if page.project_is_collaboration != "No" and page.project_collaborators.size > 0 %}
<h3>Are any other organizations collaborating on this proposal?</h3>

{% for collaborator in page.project_collaborators %}
<p>{{ collaborator }}</p>
{% endfor %}

{% endif %}

<h3>Please describe the activation your organization seeks to launch.</h3>
{{ page.project_proposal_description | markdownify }}

{% assign category_metrics = page.category_metrics %}
{% unless category_metrics %}
{% assign category_metrics = page.project_proposal_impact %}
{% endunless %}

<h3>Which of the <span style="text-transform: uppercase;">{{ page.category }}</span> metrics will your activation impact?​</h3>
<ul>
  {% for metric in category_metrics %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>

{% if page.category_other %}
<h3>Will your proposal impact any other LA2050 goal categories?</h3>
<ul>
  {% for metric in page.category_other %}
  <li>{{ metric }}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>In what areas of Los Angeles will you be directly working?</h3>
<ul>
  {% for area in page.project_areas %}
  <li>
    {{
      area
        | replace: "(please select only if your project has a countywide", ""
        | replace: "(please select only if your project has a citywide", ""
        | replace: "benefit)", ""
    }}
  </li>
  {% endfor %}
</ul>

{% if page.project_proposal_mobilize %}
<h3>How will your activation mobilize Angelenos?</h3>
<ul>
  {% for item in page.project_proposal_mobilize %}
  <li>
    {{
      item
        | replace: "(e.g. voting, running for", ""
        | replace: "office, community problem solving)", ""
        | replace: "(e.g. buycott, boycott, promote", ""
        | replace: "corporate social responsibility)", ""
        | replace: "(e.g. change consumer spending or increase", ""
        | replace: "conservation activity)", ""
    }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<h3>Describe in greater detail how your activation will make LA the best place to <span style="text-transform: uppercase;">{{ page.category }}</span>? </h3>
{{ page.project_proposal_best_place | markdownify }}

{% if page.project_proposal_engage %}
<h3>How will your activation engage Angelenos to make LA the best place to <span style="text-transform: uppercase;">{{ page.category }}</span></h3>
{{ page.project_proposal_engage | markdownify }}
{% endif %}

<h3>Please explain how you will define and measure success for your activation.​</h3>
{{ page.project_measure | markdownify }}

{% if page.project_five_years %}
<h3>Where do you hope this activation or your organization will be in five years?</h3>
{{ page.project_five_years | markdownify }}
{% endif %}

{% if page.project_proposal_help %}
<h3>How can the LA2050 community and other stakeholders help your proposal succeed?</h3>
<ul>
  {% for help in page.project_proposal_help %}
  <li>{{ help }}</li>
  {% endfor %}
</ul>
{% endif %}

</div>

{% endif %}




{% comment %}
<hr />

<div class="comments">
  <h2 class="comments-header">Comments</h2>
  <div id="disqus_thread"></div>
</div>
<script>
    // https://disqus.com/admin/universalcode/#configuration-variables
    var disqus_config = function () {
        this.page.url = 'https://activation.la2050.org{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ page.application_id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = 'https://activation-la2050-org.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% endcomment %}


</div><!-- /.proposal-in-depth -->


<hr style="margin-top: 3em;" />






<style>
@media (min-width: 40em) {

.tags {
  margin-top: 7.5em;
}
}
/*


.tags::before {
  content: "";
  display: block;
  border-bottom: ;
  max-width: none;
  text-align: left;
  grid-column: 1/-1;
  background-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 0.125em 0 0 0;
  margin: 0 0 0;
}
@media (min-width: 40em) {
  .tags::before {
    margin-left: -4.5em;
    margin-right: -4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
}*/

.tags h2 {
  font-style: italic;
  color: inherit !important;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  font-weight: inherit;
  padding-left: 1.5em;
  max-width: none;
}
.tags h2 strong {
  color: inherit;
}
.tags .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 0;
  max-width: none;
  padding-left: 0;
  /*margin: -1.35em;*/
/*  margin-left: -1.35em;
  margin-right: -1.35em;*/
  margin-left: 0.375em;
  margin-right: 0.375em;
}
@media (min-width: 40em) {
/*.tags .action {
  margin-left: -4.35em;
  margin-right: -4.35em;
}
*/
}
.tags .action li {
/*margin: 1.5em;*/
margin: 0.15em;
text-align: center;
text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (min-width: 40em) {
/*  .tags .action a {
    padding: 4.5vmin 6vmin;
  }*/
}

.tags .action a {
  display: block;
  text-align: center;
  background: white;
  color: black;
  border-color: black;
  color: var(--primary-color, black);
  border-color: var(--primary-color, black);
  border-color: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  padding: 0.375em 0.75em;
  letter-spacing: inherit;
  text-transform: inherit;
}
.tags .action a:hover,
.tags .action a:active,
.tags .action a:focus {
/*  background: black;
  border-color: black;
  background: var(--primary-color, black);*/
  border-color: var(--primary-color, black);
/*  color: white;*/
}


.disabled .tags .action li:nth-child(1n) {
  --primary-color:   rgb(255, 194, 51); /* @banana */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}
.disabled .tags .action li:nth-child(2n) {
  --primary-color:   rgb(6, 179, 188); /* @blueberry */
  --secondary-color: rgb(255, 194, 51); /* @banana */
}
.disabled .tags .action li:nth-child(3n) {
  --primary-color:   rgb(141, 208, 59); /* @lime */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}
.disabled .tags .action li:nth-child(4n) {
  --primary-color:   rgb(237, 59, 136); /* @strawberry */
  /*--primary-color: rgb(255, 59, 118);*/ /* @strawberry-orange */
  --secondary-color: rgb(255, 194, 51); /* @banana */
}
.disabled .tags .action li:nth-child(5n) {
  --primary-color:   rgb(249, 160, 51); /* @tangerine */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}


.disabled .tags .action li a {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}



/*.tags ul {
  margin: 0;
  max-width: none;
}*/
/*.tags ul,
.tags li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}*/
/*.tags li {
  display: inline-block;
  font-size: 0.875em;
}
.tags li:not(:last-child)::after {
  content: ", ";
}*/
/*.tags li a {
  text-transform: lowercase;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.tags li a:hover,
.tags li a:active,
.tags li a:focus {
  color: inherit;
  text-decoration: underline;
}*/
</style>


<style>
.tags {
  margin-top: 0;
  grid-column: 1/-1;
}
</style>



{% assign aidens_tags = "" | split: "," %}
{% if page.aidens_tags and page.aidens_tags.size > 0 %}
  {% for tag in page.aidens_tags %}
    {% assign sub_tags = tag | split: ": " %}
    {% for sub_tag in sub_tags %}
      {% unless sub_tag contains "?" %}
        {% assign aidens_tags = aidens_tags | push: sub_tag %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% assign unique_aidens_tags = aidens_tags | uniq | sort %}

{% if unique_aidens_tags.size > 0 %}
<hr style="opacity: 0" />
<h2 style="
text-align: left;
justify-self: start;
max-width: none;
margin-bottom: 3rem;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 0.05em;
color: rgb(41, 41, 41) !important;
font-size: 1.25em;
line-height: 1;">Find similar projects</h2>
<details class="tags" style="margin-bottom: 3em;" open>
<summary>
<h2 style="display: none;"><strong>Browse</strong> related organizations</h2>
</summary>
<ul class="action">
{% for tag in unique_aidens_tags %}
  {% assign tag_count = 0 %}
  {% for tag_for_counting in aidens_tags %}
    {% if tag_for_counting == tag %}
      {% assign tag_count = tag_count | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% assign font_scale_factor = tag_count | times: 1.0 | divided_by: unique_aidens_tags.size | times: 0.25 | plus: 1 %}
  <li><a href="/search/?keywords={{ tag }}" {% if tag_count > 0 %}style="font-size: calc(0.75em + {{ font_scale_factor }}vmin)"{% endif %}>{{ tag }}</a></li>
{% endfor %}
</ul>
</details>

<script>
(function() {
  function containsAnyKeyword(keywordList, string) {
    console.log("string: " + string)
    string = string.toLowerCase()
    for (var index = 0; index < keywordList.length; index++) {
      if (string.indexOf(keywordList[index]) >= 0) return true
    }
    return false
  }

  var keywords = {
    "learn"   : ["educ", "mentor", "train", "teach", "tutor", "career", "finan", "veteran", "vitality: innovation"],
    "create"  : ["creat", "tech", "kids", "children", "youth", "science", "busi"],
    "play"    : ["play"],
    "connect" : ["women", "hous", "home", "finan", "entre", "sustain", "volunt", "employ"],
    "live"    : ["crime", "food", "health", "green", "safety", "poverty", "space"]
  }

  var tags = document.querySelectorAll(".tags li");
  if (tags && tags.length > 0) {
    tags.forEach(function(tag) {
      if (containsAnyKeyword(keywords.learn, tag.textContent)) {
        tag.classList.add("blueberry");
      }
      else if (containsAnyKeyword(keywords.create, tag.textContent)) {
        tag.classList.add("banana");
      }
      else if (containsAnyKeyword(keywords.play, tag.textContent)) {
        tag.classList.add("strawberry");
      }
      else if (containsAnyKeyword(keywords.connect, tag.textContent)) {
        tag.classList.add("tangerine");
      }
      else if (containsAnyKeyword(keywords.live, tag.textContent)) {
        tag.classList.add("lime");
      }
    })
  }
})()
</script>

{% endif %}


<hr style="opacity: 0;" />


{% include project-navigation.html %}


<div style="margin-bottom: 4.5em; grid-column: 1/-1;"></div>




