---
layout: default
# Use the default description, since this page doesn’t contain general text
use_default_meta_description: true
stylesheets:
  - "/assets/css/project-list.css"
---

<div class="container-outer"><div class="container-inner">

<div style="padding-top: 3em"></div>

<script>

  // http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    var name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var searchByTags = getParameterByName('tags');

  if (searchByTags) {
    window.location = "/" + searchByTags.toLowerCase().replace(/\s/g, "-") + "/";
  }
</script>

<style>


@media (min-width: 40em) {

.tags {
  margin-top: 7.5em;
}
}
/*


.tags::before {
  content: "";
  display: block;
  border-bottom: ;
  max-width: none;
  text-align: left;
  grid-column: 1/-1;
  background-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 0.125em 0 0 0;
  margin: 0 0 0;
}
@media (min-width: 40em) {
  .tags::before {
    margin-left: -4.5em;
    margin-right: -4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
}*/

.tags h2 {
  font-style: italic;
  color: inherit !important;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  font-weight: inherit;
  padding-left: 1.5em;
  max-width: none;
}
.tags h2 strong {
  color: inherit;
}
.tags .action {
  max-width: none;
  padding-left: 0;
  /*margin: -1.35em;*/
/*  margin-left: -1.35em;
  margin-right: -1.35em;*/
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
@media (min-width: 30em) {
  .tags .action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.tags .action img {
  width: 1.9285714286em; /* 1.5 (line height) x 1.125 (arbitrarly picked number) / 0.875 (font size) */
  height: 1.9285714286em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.375em;
}
/*
@media (min-width: 60em) {
  .tags .action {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 90em) {
  .tags .action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
*/
@media (min-width: 40em) {
  .tags .action {
/*    margin-left: 0.375em;
    margin-right: 0.375em;*/
    margin-left: auto;
    margin-right: auto;
    max-width: 65em;
  }
}
@media (min-width: 40em) {
/*.tags .action {
  margin-left: -4.35em;
  margin-right: -4.35em;
}
*/
}
.tags .action li {
/*margin: 1.5em;*/
margin: 0.15em;
text-align: center;
text-align: left;
  display: flex;
/*  justify-content: center;
  align-content: center;
  align-items: center;*/
justify-content: stretch;
align-content: stretch;
align-items: stretch;
align-self: stretch;
}
@media (min-width: 40em) {
/*  .tags .action a {
    padding: 4.5vmin 6vmin;
  }*/
}

.tags .action a {
  display: block;
  text-align: center;
  background: white;
  color: black;
  border-color: black;
  color: var(--primary-color, black);
  border-color: var(--primary-color, black);
  border-color: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  padding: 0.75em;
  letter-spacing: inherit;
  text-transform: inherit;
}
.tags .action a:hover,
.tags .action a:active,
.tags .action a:focus {
/*  background: black;
  border-color: black;
  background: var(--primary-color, black);*/
  border-color: var(--primary-color, black);
/*  color: white;*/
}


.tags .action a {
  background-color: transparent;
  background-color: var(--primary-color);
  color: white;
}
.tags .action a img {
  filter: invert(1);
  transition: filter 0.2s;
}
.tags .action a:hover img,
.tags .action a:active img,
.tags .action a:focus img {
  filter: none;
}


.disabled .tags .action li:nth-child(1n) {
  --primary-color:   rgb(255, 194, 51); /* @banana */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}
.disabled .tags .action li:nth-child(2n) {
  --primary-color:   rgb(6, 179, 188); /* @blueberry */
  --secondary-color: rgb(255, 194, 51); /* @banana */
}
.disabled .tags .action li:nth-child(3n) {
  --primary-color:   rgb(141, 208, 59); /* @lime */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}
.disabled .tags .action li:nth-child(4n) {
  --primary-color:   rgb(237, 59, 136); /* @strawberry */
  /*--primary-color: rgb(255, 59, 118);*/ /* @strawberry-orange */
  --secondary-color: rgb(255, 194, 51); /* @banana */
}
.disabled .tags .action li:nth-child(5n) {
  --primary-color:   rgb(249, 160, 51); /* @tangerine */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}


.disabled .tags .action li a {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}



/*.tags ul {
  margin: 0;
  max-width: none;
}*/
/*.tags ul,
.tags li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}*/
/*.tags li {
  display: inline-block;
  font-size: 0.875em;
}
.tags li:not(:last-child)::after {
  content: ", ";
}*/
/*.tags li a {
  text-transform: lowercase;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.tags li a:hover,
.tags li a:active,
.tags li a:focus {
  color: inherit;
  text-decoration: underline;
}*/
</style>





{% comment %}
<style>
  {% for i in (1..100) %}
  .proposals li:nth-child({{ i }}), {
    order: var(--order-{{ i }});
  }
  {% endfor %}
</style>
<script>
(function() {
  function getRandomOrder() {
    return (Math.floor(Math.random() * 100) + 1) - 50;
  }
  {% for i in (1..100) %}
  document.documentElement.style.setProperty('--order-{{ i }}', getRandomOrder());
  {% endfor %}
})();
</script>
{% endcomment %}


{% unless page.is_search_results %}
<script>
(function() {
  function getRandomOrder() {
    return (Math.floor(Math.random() * 100) + 1) - 50;
  }
  for (var index = 0; index < 100; index++) {
    document.documentElement.style.setProperty('--order-' + index, getRandomOrder());
  }
})();
</script>
{% endunless %}


<h1 style="color: white; position: absolute; left: -9999px">My LA2050</h1>



{% assign data_collection = site.collections | where: "label", "organizations" | first %}
{% assign data_collection_docs = data_collection.docs %}

{% comment %} Order by year and then alphabetically {% endcomment %}
{% assign data_collection_docs = data_collection_docs | sort: "title" | reverse %}
{% assign data_collection_docs = data_collection_docs | sort: "year_submitted" | reverse %}


{% assign data_list = "" | split: "," %}
{% assign winners_list_2018 = "" | split: "," %}
{% assign winners_list_2016 = "" | split: "," %}
{% assign winners_list_2015 = "" | split: "," %}
{% assign winners_list_2014 = "" | split: "," %}
{% assign winners_list_2013 = "" | split: "," %}
{% assign finalists_list = "" | split: "," %}
{% assign organizations_list = "" | split: "," %}



{% for data in data_collection_docs %}

  {% assign is_finalist = false %}
  {% for finalist in site.finalists %}
    {% if finalist == data.url %}
      {% assign is_finalist = true %}
    {% endif %}
  {% endfor %}

  {% assign is_winner = false %}
  {% for winner in site.data.winners %}
    {% for challenge_url in data.aggregated.challenge_url %}
      {% assign secure_challenge_url = challenge_url | replace: "http://", "https://" %}
      {% if winner.url contains secure_challenge_url or secure_challenge_url contains winner.url %}
        {% assign is_winner = true %}
        {% assign winner_year = winner.year %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if page.tag %}
    {% for tag_indicator in data.tags_indicators %}
      {% if page.tag == tag_indicator %}
        {% assign data_list = data_list | push: data %}

        {% if is_winner %}
          {% case winner_year %}
            {% when 2018 %}
              {% assign winners_list_2018 = winners_list_2018 | push: data %}
            {% when 2016 %}
              {% assign winners_list_2016 = winners_list_2016 | push: data %}
            {% when 2015 %}
              {% assign winners_list_2015 = winners_list_2015 | push: data %}
            {% when 2014 %}
              {% assign winners_list_2014 = winners_list_2014 | push: data %}
            {% when 2013 %}
              {% assign winners_list_2013 = winners_list_2013 | push: data %}
          {% endcase %}
        {% elsif is_finalist %}
          {% assign finalists_list = finalists_list | push: data %}
        {% else %}
          {% assign organizations_list = organizations_list | push: data %}
        {% endif %}

      {% endif %}
    {% endfor %}
  {% else %}
    {% assign data_list = data_list | push: data %}

    {% if is_winner %}
      {% case winner_year %}
        {% when 2018 %}
          {% assign winners_list_2018 = winners_list_2018 | push: data %}
        {% when 2016 %}
          {% assign winners_list_2016 = winners_list_2016 | push: data %}
        {% when 2015 %}
          {% assign winners_list_2015 = winners_list_2015 | push: data %}
        {% when 2014 %}
          {% assign winners_list_2014 = winners_list_2014 | push: data %}
        {% when 2013 %}
          {% assign winners_list_2013 = winners_list_2013 | push: data %}
      {% endcase %}
    {% elsif is_finalist %}
      {% assign finalists_list = finalists_list | push: data %}
    {% else %}
      {% assign organizations_list = organizations_list | push: data %}
    {% endif %}

  {% endif %}

{% endfor %}




{% include project-navigation.html first=true %}


{% if page.category or page.is_search_results %}



<ul class="proposals" id="project-list">

  {% for data in winners_list_2018 %}
    {% include project-list-item.html is_winner="true" winner_year="2018" %}
  {% endfor %}

  {% for data in winners_list_2016 %}
    {% include project-list-item.html is_winner="true" winner_year="2016" %}
  {% endfor %}

  {% for data in winners_list_2015 %}
    {% include project-list-item.html is_winner="true" winner_year="2015" %}
  {% endfor %}

  {% for data in winners_list_2014 %}
    {% include project-list-item.html is_winner="true" winner_year="2014" %}
  {% endfor %}

  {% for data in winners_list_2013 %}
    {% include project-list-item.html is_winner="true" winner_year="2013" %}
  {% endfor %}

  {% for data in finalists_list %}
    {% include project-list-item.html is_finalist="true" %}
  {% endfor %}

  {% for data in organizations_list %}
    {% include project-list-item.html %}
  {% endfor %}

</ul>


{% include project-navigation.html %}

{% endif %}



{% assign organizations_with_tags = 0 %}
{% assign tags = "" | split: "," %}
{% for item in data_list %}

  {% assign item_tags = item['tags_indicators'] %}

  {% if item_tags and item_tags.size > 0 %}
    {% assign organizations_with_tags = organizations_with_tags | plus: 1 %}
    {% for tag in item_tags %}
      {% assign sub_tags = tag | split: ": " %}
      {% for sub_tag in sub_tags %}
        {% unless sub_tag contains "?" or sub_tag == "#N/A" or sub_tag == "0" %}
          {% assign sub_tag_without_trailing_space = sub_tag | strip %}
          {% assign tags = tags | push: sub_tag_without_trailing_space %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign unique_tags = tags | uniq | sort %}

{% if unique_tags.size > 0 %}
<details class="tags blueberry" style="margin-top: 4.5em; margin-bottom: 3em;" open>
<summary onclick="event.preventDefault()">
<h2 style="font-size: 1rem;"><strong>Browse</strong> by issue area</h2>
</summary>
<ul class="action">
{% for tag in unique_tags %}

  {% if site.data.tags[tag] %}
    {% assign tag_count = 0 %}
    {% for tag_for_counting in tags %}
      {% if tag_for_counting == tag %}
        {% assign tag_count = tag_count | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% case tag %}
      {% when "Arts & cultural vitality" %}
        {% assign tag_image = "paint.svg" %}
      {% when "Education & youth" %}
        {% assign tag_image = "backpack.svg" %}
      {% when "Environmental quality & sustainability" %}
        {% assign tag_image = "leaf.svg" %}
      {% when "Health" %}
        {% assign tag_image = "heart.svg" %}
      {% when "Housing & homelessness" %}
        {% assign tag_image = "building.svg" %}
      {% when "Income & employment" %}
        {% assign tag_image = "dollars.svg" %}
      {% when "Mobility" %}
        {% assign tag_image = "bus.svg" %}
      {% when "Public safety & public space" %}
        {% assign tag_image = "park.svg" %}
      {% when "Social connectedness" %}
        {% assign tag_image = "people.svg" %}
    {% endcase %}

    {% assign font_scale_factor = tag_count | times: 1.0 | divided_by: unique_tags.size | times: 0.25 | plus: 1 %}
    <li>
      <a href="/{{ tag | downcase | replace: ' ', '-' }}/">
        {% if tag_image %}
          <img src="/assets/images/icons/{{ tag_image }}" alt="" />
        {% endif %}
        {{ tag }}
      </a>
    </li>
  {% endif %}

{% endfor %}
</ul>
</details>




<script>

function containsAnyKeyword(keywordList, string) {
  // console.log("string: " + string)
  string = string.toLowerCase()
  for (var index = 0; index < keywordList.length; index++) {
    if (string.indexOf(keywordList[index].toLowerCase()) >= 0) return true
  }
  return false
}

function addCategoryColor(tag) {

  // var keywords = {
  //   "learn"   : ["educ", "mentor", "train", "teach", "tutor", "career", "finan", "veteran", "vitality: innovation"],
  //   "create"  : ["creat", "tech", "kids", "children", "youth", "science", "busi"],
  //   "play"    : ["play"],
  //   "connect" : ["women", "hous", "home", "finan", "entre", "sustain", "volunt", "employ"],
  //   "live"    : ["crime", "food", "health", "green", "safety", "poverty", "space"]
  // }

  var keywords = {{ site.data.tags_categories | jsonify }}

  if (containsAnyKeyword(keywords.learn, tag.textContent)) {
    tag.classList.add("blueberry");
  }
  else if (containsAnyKeyword(keywords.create, tag.textContent)) {
    tag.classList.add("banana");
  }
  else if (containsAnyKeyword(keywords.play, tag.textContent)) {
    tag.classList.add("strawberry");
  }
  else if (containsAnyKeyword(keywords.connect, tag.textContent)) {
    tag.classList.add("tangerine");
  }
  else if (containsAnyKeyword(keywords.live, tag.textContent)) {
    tag.classList.add("lime");
  }
}

(function() {
  var tags = document.querySelectorAll(".tags li");
  if (tags && tags.length > 0) {
    // tags.forEach(addCategoryColor)
  }
})()
</script>
{% endif %}



<style>
.proposals ~ .goals .navigation .count {
  display: none;
}
</style>


<p id="photo-credit" style="display: none; margin-top: 9em; margin-left: auto;margin-right: auto;text-align: center;">
  Photo by <a href="" style="color: inherit;"></a>
</p>


<div style="padding-bottom: 1.5em"></div>



{% if page.is_search_results %}
<script>
(function() {
  if (!document.body.querySelector || !document.createDocumentFragment) return;

  var form = document.getElementById('search');
  var field = form.querySelector('input[name="keywords"]');
  var projectList = document.getElementById('project-list');

  // http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    var name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var keywords = getParameterByName('keywords');
  var searchByTags = getParameterByName('tags');

  if (keywords) {
    keywords = keywords.trim()
  }

  if (searchByTags) {

    // window.location = "/" + searchByTags.toLowerCase().replace(/\s/g, "-");

    searchByTags = searchByTags.trim()
    document.querySelector(".goals .navigation .options details").style.display = "none";
    document.getElementById("tags-title").style.marginTop = "0";
  }


  var tagsTitle = document.getElementById("tags-title");
  if (tagsTitle && searchByTags) {
    tagsTitle.style.display = "block";
    tagsTitle.textContent = searchByTags;
    // addCategoryColor(tagsTitle);
    // document.body.className = tagsTitle.className;
    var tagsImage = document.getElementById("tags-image");
    if (tagsImage) {
      let imageTagsMap = {
        "arts & cultural vitality": "paint.svg",
        "education & youth": "backpack.svg",
        "environmental quality & sustainability": "leaf.svg",
        "health": "heart.svg",
        "housing & homelessness": "building.svg",
        "income & employment": "dollars.svg",
        "mobility": "bus.svg",
        "public safety & public space": "park.svg",
        "social connectedness": "people.svg"
      }
      if (imageTagsMap[searchByTags.toLowerCase()]) {
        tagsImage.src = "/assets/images/icons/" + imageTagsMap[searchByTags.toLowerCase()]
        tagsImage.style.display = "block"
      }
    }
  }

  // TEMPORARY: Show all projects if keywords are absent
  if (projectList && !keywords && !searchByTags) {
    var items = projectList.getElementsByTagName('script');
    for (var index = 0; index < items.length; index++) {
       projectList.insertAdjacentHTML('beforeend', items[index].innerHTML);
    }
    return;
  }

  if ((!keywords && !searchByTags) || !form || !field || !projectList) return; // TODO: Show an error message?

  field.value = keywords;
  var keywordsIndicator = document.getElementById('keywords');
  if (keywordsIndicator) keywordsIndicator.textContent = keywords;

  // KUDOS: https://stackoverflow.com/questions/13006556/check-if-two-strings-share-a-common-substring-in-javascript
  // Note: not fully tested, there may be bugs:
  function subCompare (needle, haystack, min_substring_length) {

      // Min substring length is optional, if not given or is 0 default to 1:
      min_substring_length = min_substring_length || 1;

      // Search possible substrings from largest to smallest:
      for (var i=needle.length; i>=min_substring_length; i--) {
          for (var j=0; j <= (needle.length - i); j++) {
              var substring = needle.substr(j,i);
              var k = haystack.indexOf(substring);
              if (k != -1) {
                  return {
                      found : 1,
                      substring : substring,
                      needleIndex : j,
                      haystackIndex : k
                  }
              }
          }
      }
      return {
          found : 0
      }
  }


  /*

  https://stackoverflow.com/questions/5042873/javascript-text-similarity-algorithm#5042897

  https://andrew.hedges.name/experiments/levenshtein/

  This script is free to use under the license below.
  No obligation, but if you use this it I'd love to know, thanks!

  Andrew Hedges, andrew@hedges.name

  -----------------------------------------------------------------------------

  The MIT License (MIT)

  Copyright (c) 2016 Andrew Hedges

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.

  -----------------------------------------------------------------------------

  */
  var levenshteinenator = (function () {

    /**
     * @param String a
     * @param String b
     * @return Array
     */
    function levenshteinenator(a, b) {
      var cost;
      var m = a.length;
      var n = b.length;

      // make sure a.length >= b.length to use O(min(n,m)) space, whatever that is
      if (m < n) {
        var c = a; a = b; b = c;
        var o = m; m = n; n = o;
      }

      var r = []; r[0] = [];
      for (var c = 0; c < n + 1; ++c) {
        r[0][c] = c;
      }

      for (var i = 1; i < m + 1; ++i) {
        r[i] = []; r[i][0] = i;
        for ( var j = 1; j < n + 1; ++j ) {
          cost = a.charAt( i - 1 ) === b.charAt( j - 1 ) ? 0 : 1;
          r[i][j] = minimator( r[i-1][j] + 1, r[i][j-1] + 1, r[i-1][j-1] + cost );
        }
      }

      return r;
    }

    /**
     * Return the smallest of the three numbers passed in
     * @param Number x
     * @param Number y
     * @param Number z
     * @return Number
     */
    function minimator(x, y, z) {
      if (x <= y && x <= z) return x;
      if (y <= x && y <= z) return y;
      return z;
    }

    return levenshteinenator;

  }());

  function getLevenshteinenated(string_a, string_b) {
    // get distance
    var distArray = levenshteinenator(string_a, string_b);
    var dist = distArray[ distArray.length - 1 ][ distArray[ distArray.length - 1 ].length - 1 ];
  }

  function containsKeyword(keyword, string) {

    // if (string.indexOf(keyword) >= 0) {
    //   console.log("/******")
    //   console.log("keyword: " + keyword);
    //   console.log("string: " + string);
    // }

    if (!keyword || keyword == '' || keyword.length < 2) return;

    keyword = keyword.toLowerCase();
    string = string.toLowerCase();

    var rank = 0;

    // If we’re only one character off, add a little rank
    // if (keyword.length >= 4) {
      // var similarity = 6 // https://en.wikipedia.org/wiki/Levenshtein_distance
      // if (subCompare(keyword, string, similarity).found === 1) rank += 0.1;
    // }
    // var distance = getLevenshteinenated(keyword, string)
    // if (distance < 5) rank += 0.1;

    if (string == keyword) rank++;

    // Keyword at the beginning of another word gets one point
    if (string.indexOf(' ' + keyword) >= 0) rank++;
    if (string.indexOf('>' + keyword) >= 0) rank++;

    // Keyword used as a word by itself gets one point
    // TODO: Handle punctuation or HTML elements, before or after the keyword
    if (string.indexOf(' ' + keyword + ' ') >= 0) rank++;
    if (string.startsWith(keyword + ' ')) rank++;
    if (string.indexOf('>' + keyword + ' ') >= 0) rank++;
    if (string.endsWith(' ' + keyword)) rank++;
    if (string.indexOf(' ' + keyword + "<") >= 0) rank++;

    // Multiple instances of keyword add additional points
    // KUDOS: https://stackoverflow.com/questions/881085/count-the-number-of-occurrences-of-a-character-in-a-string-in-javascript
    var numberOfMatches = (string.match(new RegExp(' ' + keyword, "g")) || []).length;
    if (numberOfMatches > 2) rank += (numberOfMatches - 1);

    // if (string.indexOf(keyword) >= 0) {
    //   console.log("rank: " + rank);
    //   console.log("******/")
    // }

    return rank;
  }

  function containsAnyKeyword(keywordList, string) {
    string = string.toLowerCase();
    var rank = 0;
    var nextRank = 0;
    for (var index = 0; index < keywordList.length; index++) {
      nextRank = containsKeyword(keywordList[index], string);

      // Add a little rank for a match without puncuation or tense
      var rootKeyword = keywordList[index].replace(/['‘’,"“”\.]/g, "").replace(/(ion|ing|ed|ies|s)$/, "")
      // var rootKeyword = keywordList[index].replace(/['‘’,"“”]/g, "").replace(/(ing|ed|s)$/, "")
      if (rootKeyword.length >= 3) {
        nextRank = containsKeyword(rootKeyword, string) * 0.1;
      }

      rank += nextRank;
    }
    return rank;
  }


  // https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array#2450976
  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }


  function getKeywordList(keywords) {

    // SHIM: Assume that most folks will search with quotes around all of the search terms
    //       This could be made more robust by allowing quotes around only some of them
    if (
        keywords.indexOf('"') == 0
        && 
        keywords.lastIndexOf('"') == (keywords.length - 1)
      ) {

      return [keywords]
    }

    return keywords.replace(/\s/, ',').split(',')
  }


  // var fragment = document.createDocumentFragment();
  var items = projectList.getElementsByTagName('script');
  var matches = [];
  if (keywords) {
    var keywordList = getKeywordList(keywords);
    if (keywordList.filter) keywordList = keywordList.filter(function(keyword) {
      return keyword.toLowerCase() != "and" && keyword.toLowerCase() != "the" && keyword.toLowerCase() != "la";
    })
  }
  for (var index = 0; index < items.length; index++) {
    var tags = [];
    var tagsMatches = items[index].getAttribute("data-tags").toLowerCase();
    // console.dir(tagsMatches)
    if (tagsMatches && tagsMatches != "") tags = tagsMatches.split(",");
    var rank = 0

    if (keywordList) rank += containsAnyKeyword(keywordList, items[index].innerHTML);

    // If an exact phrase was found, add more rank depending on the number of words
    // console.log(keywords.replace(/\s/, ',').split(',').length >= 1)
    if (keywords && getKeywordList(keywords).length >= 1) {
      // console.log("looking for an exact phrase match")
      if (items[index].innerHTML.toLowerCase().indexOf(keywords.toLowerCase()) >= 0) {
        // console.log("***** exact phrase match *****")
        rank += (10000 * getKeywordList(keywords).length)
      }
    }

    // console.dir(tags)

    if (searchByTags && searchByTags != "") {    
      for (var j = 0; j < tags.length; j++) {
        if (tags[j].toLowerCase().indexOf(searchByTags.toLowerCase()) >= 0) {
          rank += 1; // A partial tag match gets 1 point
        }
        if (tags[j].toLowerCase() === searchByTags.toLowerCase()) {
          console.log("Tag match found: " + tags[j]);
          console.log("Keywords: " + keywords);
          console.log("Tags: " + searchByTags);
          rank += 100; // An exact tag match gets 100 points
        }
      }
    }

    function getYear(item) {
      if (item.innerHTML.indexOf("2018") >= 0) return 2018;
      if (item.innerHTML.indexOf("2016") >= 0) return 2016;
      if (item.innerHTML.indexOf("2015") >= 0) return 2015;
      if (item.innerHTML.indexOf("2014") >= 0) return 2014;
      if (item.innerHTML.indexOf("2013") >= 0) return 2013;
      return 2013;
    }

    if (rank > 0) {

      if (items[index].getAttribute("data-winner")) {
        console.log("found a winner!: ")
        console.log(items[index])
        rank += (searchByTags && searchByTags != "") ? 10000 : 2
      } else if (items[index].getAttribute("data-finalist")) {
        console.log("found a finalist!: ")
        console.log(items[index])
        rank += (searchByTags && searchByTags != "") ? 1000 : 1
      }

      // Give recent submissions a little more rank, if searching by tag
      if (searchByTags && searchByTags != "") {
        let year = getYear(items[index])
        switch (year) {
          case 2018:
            rank += 0.04
            break
          case 2016:
            rank += 0.03
            break
          case 2015:
            rank += 0.02
            break
          case 2014:
            rank += 0.01
            break
          case 2013:
            break
          default:
        }
      }

      matches.push({
        item: items[index],
        rank: rank
      });
    }
  }

  function getTitle(item) {
    var result = item.innerHTML.match(/\<h3\>([^\<]+)\<\/h3\>/)
    if (result && result.length > 1) {
      return result[1]
    }
  }

  matches.sort(function (a, b) {
    // a is less than b by some ordering criterion
    if (getYear(a.item) > getYear(b.item)) {
      return -1;
    }
    // a is greater than b by the ordering criterion
    if (getYear(a.item) < getYear(b.item)) {
      return 1;
    }
    // a must be equal to b
    return 0;
  });

  var uniqueMatches = {}
  matches = matches.filter(function(match) {
    var title = getTitle(match.item)
    if (title && !uniqueMatches[title]) {
      uniqueMatches[title] = 1;
      return true;
    } else if (!title) {
      return true;
    } else {
      return false;
    }
  })

  matches = shuffle(matches);

  matches.sort(function (a, b) {
    // a is less than b by some ordering criterion
    if (a.rank < b.rank) {
      return -1;
    }
    // a is greater than b by the ordering criterion
    if (a.rank > b.rank) {
      return 1;
    }
    // a must be equal to b
    return 0;
  });

  matches = matches.reverse();

  for (var index = 0; index < matches.length; index++) {
     projectList.insertAdjacentHTML('beforeend', matches[index].item.innerHTML);
  }

  var projectCount = document.getElementById('project-count');
  var projectCountAreIs = document.getElementById('project-count-are-is');
  var projectCountProjects = document.getElementById('project-count-projects');
  if (projectCount) projectCount.innerText = projectList.getElementsByTagName('li').length;
  if (projectCountAreIs) projectCountAreIs.innerText = projectList.getElementsByTagName('li').length === 1 ? 'is' : 'are';
  if (projectCountProjects) projectCountProjects.innerText = projectList.getElementsByTagName('li').length === 1 ? 'organization' : 'organizations';

  //projectList.appendChild(fragment);

})();
</script>
{% endif %}



<script>
(function() {
  var key = 'scrollPositionOnLastProjectListPage';
  // console.log('localStorage.getItem(key): ' + localStorage.getItem(key));
  if (localStorage.getItem(key)) {
    window.scrollTo(0, localStorage.getItem(key));
    localStorage.removeItem(key);
  }
})();
</script>




{% unless page.is_search_results %}

<style>
/*html {
  height: 100vh;
}
body {
  min-height: 100vh;
  background: rgb(254, 254, 254);
  color: rgb(41, 41, 41);
  background: black;
  color: white;
}*/

.container-outer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}
.container-outer,
.container-inner {
  min-height: 100vh;
  margin-left: -1.5em;
  margin-right: -1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (min-width: 40em) {
  .container-outer,
  .container-inner {
    margin-left: -4.5em;
    margin-right: -4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
}
.container-inner {
  background-color: rgba(0, 0, 0, 0.25);
}

/*header a,
.tags summary h2,
.goals .navigation .options summary p {
  text-shadow: 0 0 2em rgba(0, 0, 0, 1);
}*/


/*
.container-outer::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}*/
/*body:not(.header-not-visible) header {
  background-color: transparent !important;
  color: white !important;
}
body:not(.header-not-visible) header h2,
body:not(.header-not-visible) header a {
  color: inherit !important;
}
body:not(.header-not-visible) header a:hover,
body:not(.header-not-visible) header a:active,
body:not(.header-not-visible) header a:focus {
  color: var(--primary-color) !important;
}*/
.goals .navigation .options form label,
.goals .navigation .options form input {
  margin-right: 0;
}
.goals .navigation .options form button {
  margin-left: 0;
}
.goals .navigation .options form input,
.goals .navigation .options form button {
  background-color: transparent;
  color: white;
  border-color: transparent;
}
.goals .navigation .options form input {
  background: rgb(254, 254, 254); /* @snow */
  color: rgb(41, 41, 41); /* @midnight */
}
.goals .navigation .options form input:focus {
  background: rgb(254, 254, 254); /* @snow */
  color: rgb(41, 41, 41); /* @midnight */
}
.goals .navigation .options form button {
  background-color: white;
  color: rgb(41, 41, 41); 
}

.goals .navigation .options form button:hover,
.goals .navigation .options form button:active,
.goals .navigation .options form button:focus {
  border-color: var(--primary-color);
}
/*main {
  min-height: 0;
}
footer {
  background: transparent;
  color: white;
}*/
</style>

<script src="/api/featured.js"></script>

<script>

(function() {


  {% comment %}
  var images = [

    /*
    "https://activation.la2050.org/assets/images/create/2048-wide/long-beach-downtown-development-corporation.jpg",

    "https://activation.la2050.org/assets/images/connect/2048-wide/film-independent.jpg",
    "https://activation.la2050.org/assets/images/play/2048-wide/los-angeles-dodgers-foundation.jpg",


    "https://activation.la2050.org/assets/images/create/2048-wide/east-la-community-corporation-elacc.jpg",
    "https://activation.la2050.org/assets/images/connect/2048-wide/voterunlead.jpg",
    "https://activation.la2050.org/assets/images/connect/2048-wide/mayors-fund-for-los-angeles.jpg",



    "https://activation.la2050.org/assets/images/connect/2048-wide/los-angeles-master-chorale.jpg",
    "https://activation.la2050.org/assets/images/connect/2048-wide/gracias-music-foundation.jpg",
    "https://activation.la2050.org/assets/images/create/2048-wide/brioxy.jpg",
    "https://activation.la2050.org/assets/images/connect/2048-wide/multicultural-communities-for-mobility-a-project-of-community-partners.jpg",
    "https://activation.la2050.org/assets/images/connect/2048-wide/826la.jpg",
    "https://activation.la2050.org/assets/images/play/2048-wide/kounkuey-design-initiative.jpg",

    */

    /*
    {
      title: "Big Citizen HUB",
      url: "/organizations/big-citizen-hub/",
      image: "https://activation.la2050.org/assets/images/live/2048-wide/big-citizen-hub.jpg"
    },
    {
      title: "Justice LA | Dignity and Power Now"
      url: "/organizations/justice-la-dignity-and-power-now/",
      image: "https://activation.la2050.org/assets/images/connect/2048-wide/justice-la-dignity-and-power-now.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/learn/2048-wide/harlem-lacrosse-los-angeles.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/live/2048-wide/roots-wings.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/live/2048-wide/environment-california-research-policy-center.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/create/2048-wide/small-business-majority.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/connect/2048-wide/homeboy-industries.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/live/2048-wide/lift-los-angeles.jpg"
    },
    {
      title: ""
      url: "",
      image: "https://activation.la2050.org/assets/images/learn/2048-wide/common-sense.jpg"
    }
    */
  ]
  {% endcomment %}

  // https://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range#1527820

    /**
   * Returns a random number between min (inclusive) and max (exclusive)
   */
  function getRandomArbitrary(min, max) {
      return Math.random() * (max - min) + min;
  }

  /**
   * Returns a random integer between min (inclusive) and max (inclusive)
   * Using Math.round() will give you a non-uniform distribution!
   */
  function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  var randomNumber = getRandomInt(0, featuredOrganizations.length - 1);

  var featuredOrganization = featuredOrganizations[randomNumber]

  document.querySelector(".container-outer").style.backgroundImage = 
    "url(" + featuredOrganization.image + ")";

  var photoCredit = document.getElementById("photo-credit");
  if (photoCredit) {
    var link = photoCredit.querySelector("a")
    if (link) {
      link.setAttribute("href", featuredOrganization.url);
      link.textContent = featuredOrganization.title;
      photoCredit.style.display = "block";
    }
  }
})();

</script>

{% endunless %}

</div></div><!-- /.container-inner --><!-- /.container-outer -->

