---
layout: default
# Use the default description, since this page doesn’t contain general text
use_default_meta_description: true
stylesheets:
  - "/assets/css/project-list.css"
---

<style>
@media (min-width: 40em) {

.tags {
  margin-top: 7.5em;
}
}
/*


.tags::before {
  content: "";
  display: block;
  border-bottom: ;
  max-width: none;
  text-align: left;
  grid-column: 1/-1;
  background-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 0.125em 0 0 0;
  margin: 0 0 0;
}
@media (min-width: 40em) {
  .tags::before {
    margin-left: -4.5em;
    margin-right: -4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
}*/

.tags h2 {
  font-style: italic;
  color: inherit !important;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  font-weight: inherit;
  padding-left: 1.5em;
  max-width: none;
}
.tags h2 strong {
  color: inherit;
}
.tags .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 0;
  max-width: none;
  padding-left: 0;
  /*margin: -1.35em;*/
/*  margin-left: -1.35em;
  margin-right: -1.35em;*/
  margin-left: 0.375em;
  margin-right: 0.375em;
}
@media (min-width: 40em) {
/*.tags .action {
  margin-left: -4.35em;
  margin-right: -4.35em;
}
*/
}
.tags .action li {
/*margin: 1.5em;*/
margin: 0.15em;
text-align: center;
text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (min-width: 40em) {
/*  .tags .action a {
    padding: 4.5vmin 6vmin;
  }*/
}

.tags .action a {
  display: block;
  text-align: center;
  background: white;
  color: black;
  border-color: black;
  color: var(--primary-color, black);
  border-color: var(--primary-color, black);
  border-color: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  padding: 0.375em 0.75em;
  letter-spacing: inherit;
  text-transform: inherit;
}
.tags .action a:hover,
.tags .action a:active,
.tags .action a:focus {
/*  background: black;
  border-color: black;
  background: var(--primary-color, black);*/
  border-color: var(--primary-color, black);
/*  color: white;*/
}


.disabled .tags .action li:nth-child(1n) {
  --primary-color:   rgb(255, 194, 51); /* @banana */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}
.disabled .tags .action li:nth-child(2n) {
  --primary-color:   rgb(6, 179, 188); /* @blueberry */
  --secondary-color: rgb(255, 194, 51); /* @banana */
}
.disabled .tags .action li:nth-child(3n) {
  --primary-color:   rgb(141, 208, 59); /* @lime */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}
.disabled .tags .action li:nth-child(4n) {
  --primary-color:   rgb(237, 59, 136); /* @strawberry */
  /*--primary-color: rgb(255, 59, 118);*/ /* @strawberry-orange */
  --secondary-color: rgb(255, 194, 51); /* @banana */
}
.disabled .tags .action li:nth-child(5n) {
  --primary-color:   rgb(249, 160, 51); /* @tangerine */
  --secondary-color: rgb(237, 59, 136); /* @strawberry */
}


.disabled .tags .action li a {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}



/*.tags ul {
  margin: 0;
  max-width: none;
}*/
/*.tags ul,
.tags li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}*/
/*.tags li {
  display: inline-block;
  font-size: 0.875em;
}
.tags li:not(:last-child)::after {
  content: ", ";
}*/
/*.tags li a {
  text-transform: lowercase;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.tags li a:hover,
.tags li a:active,
.tags li a:focus {
  color: inherit;
  text-decoration: underline;
}*/
</style>



{% comment %}
<style>
  {% for i in (1..100) %}
  .proposals li:nth-child({{ i }}), {
    order: var(--order-{{ i }});
  }
  {% endfor %}
</style>
<script>
(function() {
  function getRandomOrder() {
    return (Math.floor(Math.random() * 100) + 1) - 50;
  }
  {% for i in (1..100) %}
  document.documentElement.style.setProperty('--order-{{ i }}', getRandomOrder());
  {% endfor %}
})();
</script>
{% endcomment %}


{% unless page.is_search_results %}
<script>
(function() {
  function getRandomOrder() {
    return (Math.floor(Math.random() * 100) + 1) - 50;
  }
  for (var index = 0; index < 100; index++) {
    document.documentElement.style.setProperty('--order-' + index, getRandomOrder());
  }
})();
</script>
{% endunless %}


<h1 style="color: white; position: absolute; left: -9999px">My LA2050</h1>



{% comment %}
<div class="introduction" style="margin-top: 6em; margin-bottom: 6em;">
  <p>Here are the organizations that have submitted projects in the <span style="text-transform: uppercase;">{{ page.category }}</span> category.</p>
  <p><small>Select an organization to learn more about plans, goals, and opportunities to be involved.</small></p>
</div>
{% endcomment %}

{% if page.category %}

{% assign data_collection = site.collections | where: "label", page.category | first %}
{% assign data_list = data_collection.docs %}

{% else %}

{% comment %}
https://stackoverflow.com/questions/42475187/jekyll-assign-concat-in-a-loop
{% endcomment %}

{% assign data_collection = site.collections | where: "label", "learn" | first %}
{% assign data_list = data_collection.docs %}

{% assign data_collection = site.collections | where: "label", "create" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% assign data_collection = site.collections | where: "label", "play" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% assign data_collection = site.collections | where: "label", "connect" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% assign data_collection = site.collections | where: "label", "live" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% endif %}





{% include project-navigation.html %}




{% if page.category or page.is_search_results %}

<ul class="proposals" id="project-list">

  {% comment %} Order alphabetically {% endcomment %}
  {% assign data_list = data_list | sort: "organization_name" %}

  {% for data in data_list %}

  {% assign do_show_item = false %}

  {% assign is_finalist = false %}
  {% for finalist in site.finalists %}
    {% if finalist == data.uri %}
      {% assign is_finalist = true %}
    {% endif %}
  {% endfor %}

  {% assign is_winner = false %}
  {% for winner in site.winners %}
    {% if winner == data.uri %}
      {% assign is_winner = true %}
    {% endif %}
  {% endfor %}

  {% if page.winners == true and is_winner == true %}
  {% assign do_show_item = true %}
  {% elsif page.finalists == true and is_finalist == true %}
  {% assign do_show_item = true %}
  {% elsif page.winners != true and page.finalists != true %}
  {% assign do_show_item = true %}
  {% endif %}

  {% if do_show_item == true %}

  {% if page.is_search_results %}<script type="text/template">{% endif %}

  <li class="{{ data.category }}" {% if data.aidens_tags and data.aidens_tags.size > 0 %}data-tags="{% for tag in data.aidens_tags %}{{ tag }}, {% endfor %}"{% endif %}>
    <a href="{{ data.uri | replace: data.category, 'organizations' }}">
      <span class="image">
        {% assign image_url = data.project_image %}
        {% assign image_category = data.category %}

        {% if data.plan_id %}
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/{{ data['project_image'] }}" alt="" width="540" height="428" />
        {% else %}
        <img src="https://activation.la2050.org/assets/images/{{ image_category }}/512-wide-with-aspect-10-8/{{ image_url }}" srcset="https://activation.la2050.org/assets/images/{{ image_category }}/384-wide-with-aspect-10-8/{{ image_url }} 384w, https://activation.la2050.org/assets/images/{{ image_category }}/512-wide-with-aspect-10-8/{{ image_url }} 512w, https://activation.la2050.org/assets/images/{{ image_category }}/768-wide-with-aspect-10-8/{{ image_url }} 768w, https://activation.la2050.org/assets/images/{{ image_category }}/1024-wide-with-aspect-10-8/{{ image_url }} 1024w, https://activation.la2050.org/assets/images/{{ image_category }}/1536-wide-with-aspect-10-8/{{ image_url }} 1536w, https://activation.la2050.org/assets/images/{{ image_category }}/2048-wide-with-aspect-10-8/{{ image_url }} 2048w" sizes="(min-width: 50em) 20em, 100vw" width="500" alt="" />
        {% endif %}
      </span>
      <!--
      <p class="organization">{{ data['organization_description'] }}</p>
      -->
      <h3>{{ data['organization_name'] }}</h3>
      <p class="description">{{ data['organization_activity'] }}</p>
    </a>
  </li>

  {% if page.is_search_results %}</script>{% endif %}

  {% endif %}

  {% endfor %}

</ul>



{% include project-navigation.html %}

{% endif %}



{% assign aidens_tags = "" | split: "," %}
{% for item in data_collection.docs %}
  {% if item.aidens_tags and item.aidens_tags.size > 0 %}
    {% for tag in item.aidens_tags %}
      {% assign aidens_tags = aidens_tags | push: tag %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign unique_aidens_tags = aidens_tags | uniq | sort %}

{% if unique_aidens_tags.size > 0 %}
<details class="tags" style="margin-bottom: 3em;" open>
<summary>
<h2><strong>Explore</strong> by tag</h2>
</summary>
<ul class="action">
{% for tag in unique_aidens_tags %}
  {% assign tag_count = 0 %}
  {% for tag_for_counting in aidens_tags %}
    {% if tag_for_counting == tag %}
      {% assign tag_count = tag_count | plus: 1 %}
    {% endif %}
  {% endfor %}
  <li><a href="/search/?keywords={{ tag }}" {% if tag_count > 0 %}style="font-size: calc(0.75em + {{ tag_count | times: 0.3 | plus: 1 }}vmin)"{% endif %}>{{ tag }}</a></li>
{% endfor %}
</ul>
</details>

<script>
(function() {
  function containsAnyKeyword(keywordList, string) {
    console.log("string: " + string)
    string = string.toLowerCase()
    for (var index = 0; index < keywordList.length; index++) {
      if (string.indexOf(keywordList[index]) >= 0) return true
    }
    return false
  }

  var keywords = {
    "learn"   : ["educ", "mentor", "train", "teach", "tutor", "career", "finan", "veteran", "vitality: innovation"],
    "create"  : ["creat", "tech", "kids", "children", "youth", "science", "busi"],
    "play"    : ["play"],
    "connect" : ["women", "hous", "home", "finan", "entre", "sustain", "volunt", "employ"],
    "live"    : ["crime", "food", "health", "green", "safety", "poverty", "space"]
  }

  var tags = document.querySelectorAll(".tags li");
  if (tags && tags.length > 0) {
    tags.forEach(function(tag) {
      if (containsAnyKeyword(keywords.learn, tag.textContent)) {
        tag.classList.add("blueberry");
      }
      else if (containsAnyKeyword(keywords.create, tag.textContent)) {
        tag.classList.add("banana");
      }
      else if (containsAnyKeyword(keywords.play, tag.textContent)) {
        tag.classList.add("strawberry");
      }
      else if (containsAnyKeyword(keywords.connect, tag.textContent)) {
        tag.classList.add("tangerine");
      }
      else if (containsAnyKeyword(keywords.live, tag.textContent)) {
        tag.classList.add("lime");
      }
    })
  }
})()
</script>

{% endif %}




<style>
.proposals ~ .goals .navigation .count {
  display: none;
}
</style>

<div style="margin-bottom: 4.5em"></div>



{% if page.is_search_results %}
<script>
(function() {
  if (!document.body.querySelector || !document.createDocumentFragment) return;

  var form = document.getElementById('search');
  var field = form.querySelector('input[name="keywords"]');
  var projectList = document.getElementById('project-list');

  // http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    var name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var keywords = getParameterByName('keywords');
  if (!keywords || !form || !field || !projectList) return; // TODO: Show an error message?

  field.value = keywords;
  var keywordsIndicator = document.getElementById('keywords');
  if (keywordsIndicator) keywordsIndicator.textContent = keywords;

  function containsKeyword(keyword, string) {
    if (!keyword || keyword == '' || keyword.length < 2) return;

    keyword = keyword.toLowerCase();

    var rank = 0;

    // Keyword as part of another word gets one point
    if (string.indexOf(keyword) >= 0) rank++;

    // Keyword used as a word by itself gets one point
    // TODO: Handle punctuation or HTML elements, before or after the keyword
    if (string.indexOf(' ' + keyword + ' ') >= 0) rank++;
    if (string.startsWith(keyword + ' ')) rank++;
    if (string.endsWith(' ' + keyword)) rank++;

    // Multiple instances of keyword add additional points
    // KUDOS: https://stackoverflow.com/questions/881085/count-the-number-of-occurrences-of-a-character-in-a-string-in-javascript
    var numberOfMatches = (string.match(new RegExp(keyword, "g")) || []).length;
    if (numberOfMatches > 2) rank += (numberOfMatches - 1);

    return rank;
  }

  function containsAnyKeyword(keywordList, string) {
    string = string.toLowerCase();
    var rank = 0;
    for (var index = 0; index < keywordList.length; index++) {
      rank += containsKeyword(keywordList[index], string);
    }
    return rank;
  }


  // https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array#2450976
  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }


  // var fragment = document.createDocumentFragment();
  var items = projectList.getElementsByTagName('script');
  var matches = [];
  for (var index = 0; index < items.length; index++) {
    var keywordList = keywords.replace(/\s/, ',').split(',');
    if (keywordList.filter) keywordList = keywordList.filter(function(keyword) {
      return keyword != "and";
    })
    var tags = [];
    var tagsMatches = items[index].innerHTML.match(/data-tags=\"([^\"]+)\"/);
    // console.dir(tagsMatches)
    if (tagsMatches && tagsMatches.length > 1) tags = tagsMatches[1].split(", ");
    var rank = containsAnyKeyword(keywordList, items[index].innerHTML);

    for (var j = 0; j < tags.length; j++) {
      if (tags[j] === keywords) {
        console.log("Tag match found: " + tags[j]);
        console.log("Keywords: " + keywords);
        rank += 100; // An exact tag match gets 100 points
      }
    }

    if (rank > 0) {
      matches.push({  
        item: items[index],
        rank: rank
      });
    }
  }

  matches = shuffle(matches);

  matches.sort(function (a, b) {
    // a is less than b by some ordering criterion
    if (a.rank < b.rank) {
      return -1;
    }
    // a is greater than b by the ordering criterion
    if (a.rank > b.rank) {
      return 1;
    }
    // a must be equal to b
    return 0;
  });

  matches = matches.reverse();

  for (var index = 0; index < matches.length; index++) {
     projectList.insertAdjacentHTML('beforeend', matches[index].item.innerHTML);
  }

  var projectCount = document.getElementById('project-count');
  var projectCountAreIs = document.getElementById('project-count-are-is');
  var projectCountProjects = document.getElementById('project-count-projects');
  if (projectCount) projectCount.innerText = projectList.getElementsByTagName('li').length;
  if (projectCountAreIs) projectCountAreIs.innerText = projectList.getElementsByTagName('li').length === 1 ? 'is' : 'are';
  if (projectCountProjects) projectCountProjects.innerText = projectList.getElementsByTagName('li').length === 1 ? 'organization' : 'organizations';

  //projectList.appendChild(fragment);

})();
</script>
{% endif %}



<script>
(function() {
  var key = 'scrollPositionOnLastProjectListPage';
  // console.log('localStorage.getItem(key): ' + localStorage.getItem(key));
  if (localStorage.getItem(key)) {
    window.scrollTo(0, localStorage.getItem(key));
    localStorage.removeItem(key);
  }
})();
</script>


